<a href="https://colab.research.google.com/github/mullagalievdeniz/ege_tasks/blob/main/tasks.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#### ЕГЭ по информатике

# 26 задание

Системный администратор раз в неделю создаёт архив пользовательских файлов. Выделяемый объем памяти рассчитывается, как
общий объем файлов за вычетом количественно 20% файлов – 10% составляют самые мелкие файлы и 10 % составляют самые
крупные файлы. Известно, какой объём занимает файл каждого пользователя. Определите объем выделенного дискового
пространства и размер самого крупного из сохраненных файлов. В случае если 10% является нецелым числом, берется целая
часть от деления количества файлов на 10. Входные данные.
В первой строке входного файла 2-1.txt находится число N – количество пользователей (натуральное число, 10 ≤ N ≤ 10000). В
следующих N строках находятся значения объёмов файлов каждого пользователя (все числа натуральные, не превышающие 100),
каждое в отдельной строке. Запишите в ответе два числа: сначала объем сохраненных файлов, затем размер наибольшего
сохраненного файла

In [ ]:
f = open('26.txt')
N - int(f.readline())
data = sorted(map(int, f))
print(sum(data[N//10: N - N // 10]))  # общий объём
print(data[N - N//10 - 1]) # самый последний т.е наибольший элемент

По итогам проверочной работы учащиеся школ города получили определённое количество баллов, различное у каждого из
участников. K учеников с самым высоким результатом относят к группе отличников, а K следующих за ними – к группе
хорошистов. По заданной информации о результатах каждого из учащихся, а также количеству учащихся в каждой группе
определите целую часть среднего балла в группе отличников и группе хорошистов.
Входные и выходные данные. В первой строке входного файла 2-2.txt находится два числа, записанные через пробел: N –
общее количество результатов учащихся (натуральное число, не превышающее 10 000), K – количество учащихся в каждой из
групп. В следующих N строках находятся количества баллов конкретных учащихся (все числа натуральные, не превышающие
1000), каждое в отдельной строке. Запишите в ответе два числа: сначала целую часть среднего балла у хорошистов, а затем
целую часть среднего балла у отличников.

In [ ]:
f = open('26.txt')
N, K = map(int, f.readline().split())
data = [int(line) for line in f]
data.sort(reverse = True)

otls = data[0:K]
chors = data[K:2*K]

print(sum(otls) / len(otls))
print(sum(chors) / len(chors))

Робот складывает монеты в ящики. Задача робота заполнить как можно большее количество ящиков монетами в количестве 90 штук. Роботу по конвейеру поступают корзины с монетами. В каждой корзине может быть от 1 до 99 монет. Известно, что робот может высыпать в ящик содержимое не более двух корзин. Корзина должна быть высыпана в ящик полностью. Необходимо определить, сколько ящиков можно заполнить монетами так, чтобы в каждом из них было ровно по 90 монет.

Входные данные представлены в файле 26.txt следующим образом. В первой строке записано число N – количество корзин, в каждой из последующих N строк число K – количество монет в каждой корзине.

В качестве ответа дать одно число – количество ящиков, заполненными 90 монетами.

In [ ]:
file = open("kurs26-monetu.txt")
N = int(file.readline())
number = [0]*100
for line in file:
    coin = int(line)
    number[coin] += 1
s = 0
for coin in range(1, 45):
    s += min(number[coin], number[90-coin])
s += number[45] // 2
s += number[90]
print(s)

In [ ]:
with open("kurs26-monetu.txt") as F:
  n = int(F.readline())
  mas = []
  for i in range(n):
    monet = F.readline()
    mas.append(int(monet))

kol = 0
for i in range(n-1):
  for j in range(i+1, n):
    if mas[i] + mas[j] == 90:
      kol +=1
      mas[j] = 0
      mas[i] = 0
print(kol)

In [ ]:
mn = [int(x) for x in f]
k = 0
for i in range(n-1):
    for j in range(i+1, n):
        if mn[i] + mn[j] == 75:
            k += 1
            mn[j] = mn[i] = 0

print(k)

Организация купила для своих сотрудников все места в нескольких подряд идущих рядах на концертной площадке. Данные о том какие места уже распределены между сотрудниками хранятся в файле. Найдите ряд с наибольшим номером, в котором есть пять соседних подряд идущих свободных мест, таких что слева и справа от них в том же ряду места уже распределены (заняты). Гарантируется, что есть хотя бы один ряд, удовлетворяющий условию.

В первой строке входного файланаходится одно число:  – количество занятых мест (натуральное число, не превышающее ). В следующих  строках находятся пары чисел: ряд и место выкупленного билета, не превышающие .
В ответе запишите через пробел два целых числа: номер ряда и наименьший номер места из найденных в этом ряду подходящих пятёрок.

In [ ]:
f = open('26.txt')
N = int(file.readline())
H = [[] for row in range(25001)]

for line in file:
  row_no, no = map(int, line.split())
  H[row_no].append(no)

for row in H:
  row.sort()


for k in range(len(H)):
  row = H[k]
  for i in range(len(row)-1):
    a, b = row[i], row[i+1]
    if b - a == 5 + 1: # расстояния между занятыми местами. нужно же 5
      print(k, a+1)
      break

In [ ]:
file = open("26_4.txt")
N = int(file.readline())
H = [[] for row in range(25001)]
for line in file:
    row_no, no = map(int, line.split())
    H[row_no].append(no)
for k in range(len(H)):
    row = H[k]
    row.sort()
    for i in range(len(row)-1):
        a, b = row[i], row[i+1]
        if row[i+1] - row[i] == 5 + 1:
            last = (k, row[i]+1)
            break
print(last)

На складе лежат пакеты с углём различного веса и стоимости. Вес и стоимость записаны на каждом пакете как натуральные
числа: вес не превосходит 100, стоимость не превосходит 10000. Для транспортировки отбираются K пакетов с самой низкой
ценой угля за единицу веса; при равной стоимости за единицу веса выбираются пакеты с большим весом. По заданной
информации о пакетах с углём и количестве транспортируемых пакетов определите суммарный вес угля в отправленных
пакетах и стоимость самого тяжёлого отправленного пакета.
Входные данные представлены в файле 2-4.txt следующим образом. В первой строке через пробел записаны числа N -
количество пакетов на складе (натуральное число, не превышающее 1000) и K – количество пакетов на отправку (натуральное
число, не превосходящее 100). В каждой из последующих N строк через пробел записаны два числа – вес и стоимость каждого
пакета. Запишите в ответе два числа – сначала суммарный вес угля в отправленных пакетах, затем стоимость самого тяжёлого
отправленного пакета.
Пример организации исходных данных во входном файле:

In [ ]:
f = open('26.txt')
N, K = map(int, f.readline().split())

W = [None] * N
C = [None] * N

for i in range(N):
  W[i], C[i] = map(int, file.readline().split())

for k in range(N-1):
  for i in range(N-1):
    if (C[i] / W[i] > C[i+1] / W[i+1] or
        C[i] / W[i] == C[i+1] / W[i+1] and
        W[i] < W[i+1]):
      W[i], W[i+1] == W[i+1], W[i]
      C[i], C[i+1] == C[i+1], C[i]


print(sum(W[:K]))
print(C[W[:K].index(max(W[:K]))])

In [ ]:
file = open("kurs26-2-4.txt")
N, K = map(int, file.readline().split())
data = [tuple(map(int, line.split())) for line in file]
data.sort(key=lambda p: (p[1]/p[0], -p[0]))
print(sum(w for w, c in data[:K]))  #weight and cost
print(max(data[:K], key=lambda p: p[0])[1])

In [ ]:
f = open('26.txt')
N, K = map(int, f.readline().split())
data = [tuple(map(int, file.readline().split())) for i in range(N)]
data.sort()

In [ ]:
with open("1.txt") as Fin:
  data = Fin.readlines()
S, x = map( int, data[0].split() )
del data[0]
data = sorted( list(map(int, data)) )
total = 0
for i, val in enumerate(data):
  if total + val > S: break
    total += val
print(i)
delta = S - total
candidates = [x for x in data if x - data[i-1] <= delta]
print(max(candidates))

досрочный ЕГЭ

In [ ]:
f = open('26.txt')
K = int(f.readline()) # количество ячеек багажа
N = int(f.readline()) # количество
a = []

for i in range(N):
  st, end = map(int, f.readline().split())
  a.append([st, end])
a.sort()

# окончание времени хранения багажа в ячейках
camera = [0] * K
count = 0
last = 0
for i in range(N):
  st, end = a[i]
  for j in range(K):
    if camera[j] < st: # ячейка не сразу освобождается
      camera[j] = end
      count += 1
      last = j+1 # так как индексы с 0 же
      break

print(count, last)

In [ ]:
file = open('26.txt')
S, N = [int(x) for x in file.readline().split()]

# [file.readline() for i in range(N)]
A = sorted([int(line) for line in file if line.rstrip()])
total = 0
i = 0
while total + A[i] <= S: # всё вместе с тем файлом влезает
  total += A[i]
  i += 1
print(i)  # количество файлов
total -= A[i-1] # удаляем последний реально добавленный файл
delta = S - total # пространство без последнего добавленного файла
max_file = max(A[k] for k in range(i, len(A)) if A[k] <= delta)
print(max_file)

In [ ]:
file = open('26.txt')
N, K = map(int, file.readline().split())
data = [int(line) for line in file]
# участвуют в распродаже - K дорогих товаров
data.sort(reverse=True) # по убыванию
print(data[K]) # самый дорогой товар вне распродажи
print(int(sum(data[:K]) * 0.2)) # сумма всех скидок

In [ ]:
f = open('26.txt')
n = int(f.readline())
a = []
b = []

for line in file:
  if int(line) > 350:
    a.append(int(line))
  else:
    b.append(int(line))
a.sort()
skidka1 = sum(a[0:len(a)//3]) * 0.75

a.sort(reverse=True)
stoimost = 0
for i in range(2, len(a), 3): # каждый 3 товар
  check = a[i-2] + a[i-1] + a[i] * 0.25
  if check == int(check):
    stoimost += check
  else:
    stoimost += int(check) + 1

print(stoimost + sum(b)) # ответ А
print(int(sum(a) + sum(b) - skidka1)+1) # Ответ Б - общая сумма одним чеком

In [ ]:
file = open('26.txt')
N = map(int, file.readline().split())
A = [int(line) for line in file]

In [ ]:
a = '12345678990'
print(a[-2:])

90

Магазин предоставляет оптовому покупателю скидку по следующим правилам:
− на каждый второй товар ценой больше 50 рублей предоставляется скидка 15 %;
− цена покупки каждого товара со скидкой округляется вверх до целого числа рублей;
− порядок товаров в списке определяет магазин и делает это так, чтобы общая сумма скидки была наименьшей.
Вам необходимо определить общую цену закупки с учётом скидки и цену самого дорогого товара, на который будет предоставлена скидка.
Входные данные. Первая строка входного файла содержит число N – общее количество купленных товаров. Каждая из следующих N строк содержит одно целое число – цену товара в рублях. В ответе запишите два целых числа: сначала общую цену покупки с учётом скидки, затем цену самого дорогого товара, на который предоставлена скидка.

In [ ]:
import math

f = open('kurs26.txt')
N = int(f.readline())

s = 0 # сумма всей покупки
m = 0 # цена самого дорого товара
sale = [] # продукты со скидкой

for x in f:
    x = int(x)
    if x > 210:
        sale.append(x)
    else:
        s += x

sale.sort()

for i in range(len(sale)):
    if i < len(sale) // 2:
        s += sale[i] * 0.7
        m = sale[i]
    else:
        s += sale[i]


print(math.ceil(s), m)

In [ ]:
import math
file = open('26.txt')
N = int(file.readline())
goods = [int(file.readline()) for i in range(N)] # все товары
less = [x for x in goods if x <= 50] # нет скидки
more = [x for x in goods if x > 50]
K = len(more)
more.sort()
# discount = [math.ceil(x * 0.85) for x in more[0:K//2]] # каждый второй товар больше 50 рублей будет получать скидку
discount = [int(x ** 0.15) for x in more[0:K//2]] # скидку округляем вниз, товаров со скидкой K // 2 штук
print(sum(less) + sum(more) - sum(discount)) # общая стоимость покупки
print(more[K // 2 - 1])

In [ ]:
file = open('26.txt')
N = int(file.readline())
data = [int(line) for line in file]
data.sort()
median = data[N//2]
mean = sum(data) / N
print(sum(mean <= x <= median for x in data))

k = 0
for x in data:
  if mean <= x <= median:
    k += 1

print(k)

# 15 задание

In [ ]:
def F(a, x):
  return x & a != 0 or x & 13 != 0 or x & 39 == 0

for a in range(0, 2**6):
  flag = True
  for x in range(0, 2**6):
    if not F(a, x):
      flag = flag and F(a, x)
  if flag:
    print(a)

In [ ]:
def f(a, x, y):
  return (4*x + y < a) or (x < y) or (22 <= x)

for a in range(1, 1000):
  if all(f(a, x, y) for x in range(0, 100) for y in range(0, 100)):
    print(a)
    break

106

In [ ]:
def f(a, x, y):
  return (x**2 + y**2 > 128) or (y < -1*x + a)

for a in range(1, 1000):
  if all(f(a, x, y) for x in range(0, 100) for y in range(0, 1000)):
    print(a)
    break

17

In [ ]:
def f(x, y, a):
  return (x >= 12) or (3*x < y) or (x*y < a)

for a in range(0, 1000):
  if all(f(x, y, a) for x in range(0, 100) for y in range(0, 100)):
    print(a)
    break

364

In [ ]:
def f(x, a, y):
  return (x < 4) or (x >= 20) or (y >= (3*x + a)) or (y < 100)

for a in range(0, 10000):
  if all(f(x, a, y) for x in range(1, 100) for y in range(1, 100)):
    print(a)

In [ ]:
def f(x, y, a):
  return (84 != 2*x + y) or (a < x) or (a < y)

for a in range(0, 100):
  if all(f(x, y, a) for x in range(0, 100) for y in range(0, 100)):
    print(a)

In [ ]:
def F(a, x):
  return x & a != 0 or x & 13 != 0 or x & 39 == 0

for a in range(0, 2**6):
  if all([F(a,x) for x in range(0, 2 ** 6)]):
    print(a)

34
35
38
39
42
43
46
47
50
51
54
55
58
59
62
63

отрезки

In [ ]:
def F(a, b, x):
    if a <= x <= b:
        return True
    else:
        return False

mn=10**9

for a in range(0, 100):
    for b in range(a, 100):
        k=0
        for i in range(1, 200):
            x = i/2
            if not( (F(10, 15, x) or F(20, 27, x)) ) or F(a, b, x):
                k=k+1

        if k==199:
            mn=min(mn, b-a)
print(mn)

In [ ]:
def F(A, x):
    return (x in P) <= ((x in Q and x not in A) <= (x not in P))

P = range(117, 158+1)
Q = range(129, 180+1)
m = 100000
for a in range(117, 180 + 1):
    for b in range(a + 1, 180 + 1):
        A = range(a, b + 1)
        if all(F(A, x) for x in range(115, 190)):
            m = min(b - a, m)
print(m)

29

In [ ]:
P = range(15, 39+1)
Q = range(44, 57+1)

def f(x, A):
  return ((x in P) <= (x in A)) and ((x in Q) <= (x in A))

for a in range(15, 57+1):
  for b in range(a + 1, 57+1):
  A = range(a, b+1)
  if all(f(x, A) for x in range())

In [ ]:
def f(x, a, b):
  return ((a <= x <= b) <= (x**2 <= 25)) and ((x**2 <= 9) <= (a <= x <= b))
d = 10000
for a in range(-100, 100):
  for b in range(a, 100):
    for x in range(-100, 100):
      if not f(x, a, b):
        break
    else:
      d = min(d, b-a)

print(d)

6

In [ ]:
def f(x, a, b):
  return ((a <= x <= b) <= (x * x <= 121)) and ((x*x <= 49) <= (a <= x <= b))
lens = []
d = 1000
for a in range(-121*49, 121*49):
  for b in range(a, 121*49):
    for x in range(-121*49, 121*49):
      if f(x, a, b):
        break
    else:
      d = min(d, b-a)

print(d)

1000

In [ ]:
def f(x, a):
  return (x & a == 0) <= ((x & 60 != 0) <= (x & 105 != 0))

for a in range(0, 100):
  if all(f(x, a) for x in range(0, 100)):
    print(a)
    break

20

In [ ]:
def f(x, a):
  return ((x % 3 == 0) <= (x % 11 != 0)) or (x + a >= 80)

for a in range(1, 100):
  if all(f(x, a) for x in range(0, 1000)):
    print(a)
    break

80

In [ ]:
def f(x, a):
  return (a % 11 == 0) and ((870 % x == 0) <= ((a % x != 0) <= (1980 % x != 0)))

for a in range(1, 1000+1):
  if all(f(x, a) for x in range(1, 10000)):
    print(a)

330
660
990

In [ ]:
def f(x, a):
  return (x % a != 0) <= ((x % 21 == 0) <= (x % 14 != 0))

for a in range(1, 1000):
  if all(f(x, a) for x in range(0, 1000)):
    print(a)

1
2
3
6
7
14
21
42

In [ ]:
def f(x):
    return ((x%3==0)<=(x%11!=0))or(x+a>=80)
for a in range(1,100):
    if all(f(x)==1 for x in range(1,1000)):
        print(a)

In [ ]:
def f(x, y, a):
  return ((x <= 3) <= (x*x <= a)) and ((y*y <= a) <= (y <= 3))

for a in range(0, 100):
  if all(f(x, y, a) for x in range(0, 100) for y in range(0, 100)):
    print(a)

9
10
11
12
13
14
15

координатная плоскость

In [ ]:
def F(x, y, A):
    return (x > 3 or x**2 <= A) and (y**2 > A or y <= 3)

for A in range(0, 100):
    if all(F(x, y, A) for x in range(1, 100) for y in range(1, 100)):
        print(A)

In [ ]:
def f(x, y, a):
  return (y + 2*x < a) or (y + x > 6) or (y-x < 4)

for a in range(0, 100):
  if all(f(x, y, a) for x in range(0, 100) for y in range(0, 100)):
    print(a)

In [ ]:
def f(x, y, a):
  return ((x <= 3) <= (x**2 <= a)) and ((y**2 <= a) <= (y <= 3))

for a in range(0, 100):
  if all(f(x, y, a) for x in range(0, 100) for y in range(0, 100)):
    print(a)

9
10
11
12
13
14
15

In [ ]:
def f(x, y, a):
  return ((x <= 4) <= (x**2 <= a)) and ((y**2 <= a) <= (y <= 4))

for a in range(0, 100):
  if all(f(x, y, a) for x in range(0, 100) for y in range(0, 100)):
    print(a)
    break

16

In [ ]:
def f(x, y, a):
  return (6*y - 2*x > a) or (x + 4*y < 80) or (2*y-3*x < -72)

for a in range(0, 100):
  if all(f(x, y, a) for x in range(0, 100) for y in range(0, 100)):
    print(a)

0
1
2
3
4
5
6
7

In [ ]:
def f(x, a):
  return ((x % 3 == 0) <= (not(x % 9 == 0))) or (x + a >= 108)

for a in range(0, 10000):
  if all(f(x, a) for x in range(0, 100)):
    print(a)
    break

108

In [ ]:
def F(x, y, a):
  return (y + 2*x < a or 3*y + 2*x > 120 or 3*y - x > 30)

for a in range(1, 180):
  if all(F(x, y, a) for x in range(0, 60) for y in range(0, 60)):
    print(a)
    break

119

In [ ]:
limit = 60
for A in range(3 ** limit):
  if all(y+2*x < A or 3*y + 2*x > 120 or 3*y - x> 30 for x in range(1, limit) for y in range(1, limit)):
    print(A)
    break

118

ДЕЛ

x % A == 0 or x % 6 != 0 or x % 9 != 0

In [ ]:
def f(x, a):
  return (x % a == 0) <= ((x % 20 == 0) or (x % 37 == 0))


for a in range(1, 20*37):
  if all(f(x, a) for x in range(0, 20*37)):
    print(a)
    break

20

In [ ]:
def f(x, a):
  return ((not x % a == 0) and (x % 21 == 0)) <= (x % 14 == 0)

for a in range(1, 14*21):
  if all(f(x, a) for x in range(0, 14*21)):
    print(a)

1
3
7
21


Дел (m, n) -> натуральное число n делится без остатка на натуральное число m
для какого числа a формула тождественно истинна (принимает 1 при любом значение x)

In [ ]:
for a in range(1, 1000):
  flag = 1 # значение a подходит
  for x in range(1, 10000):  # если хотя бы в одном варианте из 10к есть не 1, то мы пропускаем итерацию
    f = (a%9==0) and ((280 % x == 0) <= ((a % x != 0) <= (730 % x != 0)))
    if f == 0:
      flag = 0
      break

  if flag:
    print(a)

90
180
270
360
450
540
630
720
810
900
990

In [ ]:
for a in range(1, 100):
  for x in range(1, 100000):
    f = ((x % 34 == 0) and (not(x % 51 == 0))) <= ((not(x % a == 0)) or (x % 51 == 0))
    if f == 0:
      break
  else:
    print(a)

3
6
9
12
15
18
21
24
27
30
33
36
39
42
45
48
51
54
57
60
63
66
69
72
75
78
81
84
87
90
93
96
99

In [ ]:
def f(x):
  return ((x % 84 != 0) or (x % 90 != 0)) <= (not(x % a == 0))


for a in range(1, 10000):
  if all(f(x) == 1 for x in range(1, 1000000)):
    print(a)

1260
2520
3780
5040
6300
7560
8820

In [ ]:
def f(x):
  return (x & 41 == 0) <= ((x & 119 != 0) <= (x & a != 0))

for a in range(1, 100):
  if all(f(x)==1 for x in range(1, 1000)):
    print(a)

86
87
94
95

In [ ]:
def f(x):
  return (((x & 13 != 0) or (x & a != 0)) <= (x & 13 != 0)) or ((x & a != 0) and (x & 39 == 0))

for a in range(1, 100):
  if all(f(x)==1 for x in range(1, 1000)):
    print(a)

1
4
5
8
9
12
13

тождественно ложно при поразрядной конъюнкции

In [ ]:
def f(x):
  return (x & a == 0) and (x & 41 != 0) and (x & 33 == 0)

for a in range(1, 100):
  if all(f(x) == 0 for x in range(1, 10000)):
    print(a)

8
9
10
11
12
13
14
15
24
25
26
27
28
29
30
31
40
41
42
43
44
45
46
47
56
57
58
59
60
61
62
63
72
73
74
75
76
77
78
79
88
89
90
91
92
93
94
95

In [ ]:
def f(x):
  B = (x & 17 != 0) <= ((x & a != 0)<=(x & 58 != 0))
  A =
  return B <=

In [ ]:
for a in range(1, 1000):
  flag = 1
  for x in range(1, 10000):
    for y in range(1, 10000):
      f = (4*x + y > 115) or (x > 3*y) or (x + 4*y < a)
      if f:
        flag = 0
        break
  if flag:
    print(a)

# 27 задание

In [ ]:
dec_map = {}
file = open('27-177a.txt').readlines()
massiv1 = [int(x) for x in file]

# dec_map[massiv1[0]] == massiv1[len(massiv1)-1]

for p in range(len(massiv1) - 1):
  dec_map[file[p]] = file[p+1]

print(dec_map)

{'20\n': '9\n', '9\n': '6\n', '4\n': '8\n', '8\n': '10\n', '6\n': '1\n', '10\n': '0\n', '7\n': '4\n', '3\n': '6\n', '1\n': '8\n', '0\n': '8\n'}

In [ ]:
file_data = [int(x) for x in open('27-a.txt')]
l_num = file_data[0]
file_data.remove(file_data[0])
dup = []

def checker(k):
    otr = []
    pol = []
    for i in k:
        if i > 0:
            pol.append(i)
        elif i < 0:
            otr.append(i)
        elif i == 0:
            continue

    return len(pol) == len(otr)


def get_next_number(num, g_num):
    ind = file_data.index(num)


for x in file_data:
    k = 0
    c = 1
    h_list = []
    while k != l_num - 1:
        f_num = get_next_number(x, c)
        h_list.append(f_num)
        if checker:
            get

In [ ]:
file = [int(x) for x in open('27-177a.txt')]
print(file)
ng = []
sums = []
ng.append((file[0], file[len(file)-1]))
for x in range(len(file)-1):
  ng.append((file[x], file[x+1]))

for z in file:
  for k in file:
    if (k, z) in ng and (z, k) in ng:
      continue
    sums.append(k+z)

print(sum(sums))

[20, 9, 4, 8, 9, 6, 10, 7, 10, 3, 6, 7, 4, 8, 1, 6, 1, 8, 10, 0, 8]
5658

In [ ]:
f = open('27.txt')
n = int(f.readline())
a = [int(s) for s in f]
par = []
cnt = 0
for i in range(len(a)):
  for j in range(i + 1, n):
    if (a[i] + a[j]) % 6 == 0:
      cnt += 1
print(cnt)

Выбрать из каждой пары ровно 1 число, чтоб сумма была максимальной и не делилась на 3

In [ ]:
file = open('271.txt')
n = int(file.readline())
m = 0
rmin = 10 ** 5


for i in range(n):
  a, b = map(int, file.readline().split())
  m += max(a, b)
  r = abs(a - b)
  if r % 3 == 0 and r < rmin:
    rmin = r

if m % 3 == 0:
  print(m)
else:
  print(s - m  )

In [ ]:
from itertools import *
cnt = 0
dup = []
nums = [int(x) for x in open('27.txt')]
perm_nums = []
ans = []

for n in product(nums, repeat=2):
  if n[0] != n[1]:
      perm_nums.append(n)

for par in perm_nums:
  if (par[0] * par[1]) % 26 == 0:
    cnt += 1
    ans.append(par)

print(cnt // 2)
print(ans)

20
[(20, 702), (823, 702), (707, 702), (71, 702), (570, 702), (666, 702), (232, 702), (702, 20), (702, 823), (702, 707), (702, 71), (702, 570), (702, 666), (702, 232), (702, 886), (702, 636), (702, 287), (702, 88), (702, 214), (702, 827), (702, 876), (702, 18), (702, 704), (702, 227), (702, 89), (702, 595), (702, 411), (886, 702), (636, 702), (287, 702), (88, 702), (214, 702), (827, 702), (876, 702), (18, 702), (704, 702), (227, 702), (89, 702), (595, 702), (411, 702)]

# 25 задание

# маски чисел

In [ ]:
from fnmatch import *

for x in range(0, 10**9, 27):
  if fnmatch(str(x), '12345?7?8'):
    print(x, x // 27)

123452748 4572324
123455718 4572434
123456798 4572474
123459768 4572584

In [ ]:
A = {int(f'12345{x}7{y}8') for x in range(10) for y in range(10)}
B = {x for x in range(0, 10**9, 27)}

for i in B:
  if i in A:
    print(i)

123452748
123455718
123456798
123459768

In [ ]:
for x in range(0, 10**9, 27):
  s = str(x)
  if x % 27 == 0 and \
  s[:5] == '12345' and s[6] == '7' and s[-1] == '8':
    print(x)

123452748
123455718
123456798
123459768

In [ ]:
#"12345?7?8"
for a in range(10):
    for b in range(10):
        x = int(f"12345{a}7{b}8")
        if x % 27 == 0:
            print(x)

123452748
123455718
123456798
123459768

In [ ]:
from fnmatch import *

for x in range(0, 10**10, 2023):
  if fnmatch(str(x), '1?5719*6'):
    print(x, x // 2023)

115719646 57202
1257197396 621452
1357194286 670882
1457191176 720312
1857198966 918042
1957195856 967472

In [ ]:
for x in range(0, 10**10, 7411):
  if fnmatch(str(x), '8?779*9') and str(x).count('0') > 0:
    print(x, x//7411)

807799 109
807791589 108999
8077908479 1089989
8077982589 1089999
8377905759 1130469
8677903039 1170949
8977900319 1211429

In [ ]:
from fnmatch import *
x = 55000
count = 0

while count < 4:
  if fnmatch(str(x), '5*97*5?'):
    divs2 = [d for d in range(1, x + 1) if x % d == 0 and d % 2 == 0]
    if len(divs2) >= 5:
      print(x, sum(divs2))
      count += 1
  x += 1

59750 74880
59752 131712
59754 83328
509750 636480

In [ ]:
for x in range(0, 10**10, 7411):
  s = str(x)
  if len(s) < 6: continue
  if '0' not in s: continue
  a, b, c, d, e, *_, f = s
  if a+b+c+d+e+f == '87799':
    print(x, x // 7411)

In [ ]:
for x in range(0, 10**10, 2023):
  # 1?5716 * 6
  s = str(x)
  if s[0] == '1' and s[2:6] == '5719' and s[-1] == '6':
    print(x, x // 2023)

115719646 57202
1257197396 621452
1357194286 670882
1457191176 720312
1857198966 918042
1957195856 967472

In [ ]:
for x in range(0, 10**10, 2023):
  s = str(x)
  if fnmatch(s, '1?2139*4'):
    print(x, x // 2023)

162139404 80148
1321399324 653188
1421396214 702618
1521393104 752048

количество делителей

In [ ]:
dels = [d for d in range(1, n+1) if n % d == 0]

In [ ]:
for i in range(194_567, 194_570+1):
  divs = [d for d in range(1, i+1) if i % d == 0 and d % 2 != 0]
  if len(divs) == 4:
    print(i, divs)

194567 [1, 103, 1889, 194567]
194570 [1, 5, 19457, 97285]

имеющие 4 различных делителя

In [ ]:
for x in range(194_455, 194_500 + 1):
  divs = [d for d in range(1, x + 1) if x % d == 0]
  if len(divs) == 4:
    print(*divs)

1 5 38891 194455
1 163 1193 194459
1 139 1399 194461
1 2 97231 194462
1 113 1721 194473
1 439 443 194477
1 2 97241 194482
1 43 4523 194489
1 11 17681 194491

In [ ]:
for x in range(904_528, 997_438 + 1):
  divs = [d for d in range(1, x + 1) if x % d == 0]
  if len(divs) == 5:
    print(*divs)

KeyboardInterrupt:

Среди целых чисел, принадлежащих числовому отрезку [228224; 531135], найдите числа,
среди делителей которых есть хотя бы 4 различных куба натуральных нечетных чисел.
Для каждого найденного числа запишите в ответе само число, количество таких
делителей и наибольший из них. В качестве делителей не рассматривать число 1 и само
исследуемое число. Так, например, для числа 8 учитываются только делители 2 и 4.

In [ ]:
for x in range(228_224, 531_135+1):
  d = 3 # начинаем с нечётного числа
  divs = []
  while d**3 < x:
    if x % d **3 == 0:
      divs.append(d ** 3)
    d += 2 # потому что числа нечётные
  if len(divs) >= 4:
    print(x, len(divs), max(divs))

250047 4 9261
273375 5 91125
364500 5 91125
421875 4 15625
455625 5 91125
500094 5 250047

In [ ]:
ans = []

def to_six(x):
  s = ''
  while x != 0:
    s += str(x % 6)
    x = x // 6

  return s[::-1]

def check(x):
  s_num = to_six(x)
  return (s_num[-1] != str(x)[-1] and (x % 11 == 0 or x % 12 == 0 or x % 17 == 0))

for i in range(7747, 25121+1):
  if check(i):
    ans.append(i)


print(len(ans), max(ans))

2998 25116

In [ ]:
def check(divs: list):
  s1 = s2 = 0
  for d in divs:
    if d % 2 == 0:
      s1 += 1
    else:
      s2 += 1
  return (s1==s2==5)



for x in range(1_000_000, 5_000_000+1):
  divs = [d for d in range(1, x+1) if x % d == 0]
  if len(divs) == 10:
    if check(divs):
      print(x)

In [ ]:
print(to_six(9)[-1])

3

In [ ]:
for x in range(228_224, 531_135 + 1):
    divs = [d**3 for d in range(3, int(x ** (1/3)), 2)
             if x % d**3 == 0]
    if len(divs) >= 4:
        print(x, len(divs), divs[-1])

In [ ]:
A = range(904528, 997438 + 1)
p = 3 # простые числа

while p ** 4 < 10 ** 6:
  # отсев
  if all(p % d != 0 for d in range(2, int(p**0.5))):
    x = p ** 4
    if x in A:
      print(1, p, p**2, p**3, x)
  p += 2

1 31 961 29791 923521

In [ ]:
for x in range(904528, 997438 + 1):
    divs1 = [d for d in range(1, int(x**0.5)+1) if x % d == 0]
    divs2 = [x // d for d in divs1 if d**2 != x]
    print(divs1, divs2)
    break
    divs = divs1 + divs2[::-1]
    if len(divs) == 5:
        print(*divs)

[1, 2, 4, 8, 16] [904528, 452264, 226132, 113066, 56533]

In [ ]:
for x in range(1500000, 3000000+1):
  divs1 = [d for d in range(1, int(x**0.5)+1) if x % d == 0 and d % 2 != 0]
  divs2 = [x // d for d in divs1 if d**2 != x and d % 2 != 0]
  divs = divs1 + divs2[::-1]
  if len(divs) == 7:
    print(x)

1771561

In [ ]:
from math import sqrt
def simpl(n):
  nDel = 0
  for d in range(2, round(sqrt(n)) + 1):
    if n % d == 0:
      nDel += 1
      break
  if nDel == 0:
    return True
  else:
    return False

In [ ]:
def is_simple(x): #проверка на простоту
  if x % 2 == 0:
    return False
  d = 3
  while d ** 2 <= x:
    if x % d == 0:
      return False
    d += 2
  return True


n = 1
for x in range(3_532_001, 3_532_160, 2):
  if is_simple(x):
    print(n, x)
    n += 1

1 3532007
2 3532019
3 3532021
4 3532033
5 3532049
6 3532091
7 3532103
8 3532121
9 3532147

In [ ]:
def check(x):
  if x % 2 == 0:
    return False
  d = 3
  while d ** 2 <= x:
    if x % d == 0:
      return False
    d += 2
  return True

for n in range(3175777, 3175811+1):
  if check(n):
    print(n)

3175789
3175801
3175811

In [ ]:
def is_simple(x):
    return all(x % d != 0 for d in range(2, int(x**0.5) + 1))

A = []
for x in range(573_213, 575_340 + 1):
    d = 2
    while d**2 <= x and x % d != 0:
        d += 1
    if x % d == 0:
        d2 = x // d
        if d2 != d and is_simple(d2):
            A.append([1, d, d2, x])
the_divs = min(A, key=sum)
print(sum(the_divs), the_divs[-2])

In [ ]:
A = []
for x in range(573_213, 575_340 + 1):
  print(x)
  divs1 = [d for d in range(1, int(x**0.5)) if x % d == 0]
  print(divs1)
  divs2 = [x // d for d in divs1 if x != d*d]
  print(divs2)
  divs = divs1 + divs2[::-1]
  if len(divs) == 4:
    A.append(sum(divs))
    break

the_divs = min(A, key=sum)
print(the_divs)

573213
[1, 3]
[573213, 191071]

TypeError: 'int' object is not iterable

In [ ]:
A = []
for x in range(351_627, 428_763 + 1):
    divs1 = [d for d in range(1, int(x**0.5) + 1) if x % d == 0]
    divs2 = [x // d for d in divs1 if x != d*d]
    divs = divs1 + divs2[::-1]
    if len(divs) == 4:
        A.append(x)
print(len(A), sum(A)/len(A))

In [ ]:
n = 0
x = 700_001
while n < 3:
    divs1 = [d for d in range(2, int(x**0.5) + 1) if x % d == 0]
    divs2 = [x // d for d in divs1 if x != d*d]
    divs = divs1 + divs2[::-1]
    M = sum(divs)
    if M > 10**6:
        print(x, M)
        n += 1
    x += 1

In [ ]:
from fnmatch import *

for x in range(0, 10**10, 3147):
  if fnmatch(str(x), '1*4302?1'):
     print(x, x // 3147)

In [ ]:
from fnmatch import *

for x in range(0, 10**9, 17): # перебираем только числа, кратные 17-ти
  if fnmatch(str(x), '23?456?89'):
    print(x, x // 17)

231456989 13615117
232456589 13673917
233456189 13732717
236456689 13909217
237456289 13968017

In [ ]:
for x in range(0, 10**9, 169):
  if fnmatch(str(x), '345*789?'):
    print(x, x//169)

345017894 2041526
345307898 2043242
345367893 2043597
345657897 2045313
345717892 2045668

In [ ]:
for x in range(0, 10**6, 51):
  if fnmatch(str(x), '56*98*'):
    print(x, x//51)

560898 10998
562989 11039
565998 11098
567987 11137
569823 11173
569874 11174

In [ ]:
for x in range(102, 10**6, 51): # важно начать с числа, кратного 51!
  s = str(x)
  if s[0] + s[1] == '56' and '98' in s:
    print(x, x//51)

560898 10998
562989 11039
565998 11098
567987 11137
569823 11173
569874 11174

наименьшие 7 чисел, кратных 6, 7 и 8. Также выведите сумму его делителей

In [ ]:
def div(x):
  d = set()
  for i in range(1, int(x**0.5) + 1):
    if x % i == 0:
      d.add(i)
      d.add(x // i)
  return sorted(d)


c = 0
for x in range(0, 10**7):
  if fnmatch(str(x), '?8*8*?8') and x % 6 == 0 and x % 7 == 0 and x % 8 == 0:
    c+=1
    print(x, sum(list(div(x))))
    if c == 7:
      break

38808 133380
48888 152880
185808 565440
188328 576000
288288 1100736
384888 1152000
388248 1109760

7 наибольших чисел, которые кратны 217. и выведите сумму нечётных делителей числа

In [ ]:
def div(x):
  d = set()
  for i in range(1, int(x**0.5) + 1):
    if x % i == 0:
      d.add(i)
      d.add(x // i)
  return sorted(d)


for x in range(0, 10**7, 217):
  if fnmatch(str(x), '27?7*'):
    dels = [i for i in div(x) if i % 2 != 0]
    print(x, sum(dels))

шестнадцатеричная маска 1?DEC?CED
деление на 79-16

ответ записать в порядке убывания

In [ ]:
b = []
for c1 in '0123456789abcdef':
  for c2 in '0123456789abcdef':
    a = int(f'1{c1}ded{c2}ced', 16)
    if a % 121 == 0:
      b += [(a, a//121)]


for x in b[::-1]:
  print(*x)

8555171053 70703893
6407666925 52955925
5065538797 41863957

In [ ]:
for x in range(0, 10**10, 121):
  if fnmatch(hex(x)[2:], '1?ded?ced'):
    print(x, x//121)

ч - произвольная чётная цифра, Н - произвольная нечётная цифра

In [ ]:
for x in range(0, 10**8, 2023):
  if fnmatch(str(x), '11[02468]??[13579]11'):    # [] - 1 символ из набора
    print(x, x//2023)

11039511 5457
11444111 5657
11848711 5857

In [ ]:
for x in range(0, 10**8, 206):
  if fnmatch(str(x), '123*[13579][02468]56'):
    print(x, x//206)

1231056 5976
12313856 59776
12355056 59976
12375656 60076

# Методы Хирьянова

In [ ]:
from functools import cache

@cache
def W(x):
  if x >= 29: return -1
  return -min(W(p) for p in [x+1, x*2])

@cache
def T(x):
  if x >= 29: return 0
  if W(x) == -1: return max(T(p) for p in [x+1, x*2])
  return 1 + min(T(p) for p in [x+1, x*2] if W(p) == -1)

for x in range(1, 29):
  print(x, W(x), T(x), 'внимание' if W(x) * T(x) in {-1, +2, -2} else '')

In [ ]:
from functools import cache

def pos(x, y):
    return [(x+1, y), (x*2, y), (x, y+1), (x, y*2)]

@cache
def W(x, y):
    if x + y >= 63: return -1
    return -min(W(*p) for p in pos(x, y))

@cache
def T(x, y):
    if x + y >= 63:
        return 0
    if W(x, y) == -1:
        return max(T(*p) for p in pos(x, y))
    return 1 + min(T(*p) for p in pos(x, y) if W(*p) == -1)

for y in range(1, 57):
    w = W(5, y)
    t = T(5, y)
    print(y, w, t, "внимание!" if w*t in {-1, +2, -2} else "")

1 1 9
2 1 8
3 1 8
4 -1 7
5 1 7
6 1 6
7 1 6
8 1 5
9 1 7
10 -1 6
11 1 5
12 1 6
13 1 6
14 -1 5
15 1 5
16 1 8
17 -1 7
18 1 4
19 -1 6
20 1 6
21 1 5
22 -1 4
23 1 4
24 1 3
25 -1 2 внимание!
26 1 2 внимание!
27 -1 2 внимание!
28 1 2 внимание!
29 1 1
30 1 1
31 1 1
32 1 1
33 1 1
34 1 1
35 1 1
36 1 1
37 1 1
38 1 1
39 1 1
40 1 1
41 1 1
42 1 1
43 1 1
44 1 1
45 1 1
46 1 1
47 1 1
48 1 1
49 1 1
50 1 1
51 1 1
52 1 1
53 1 1
54 1 1
55 1 1
56 1 1

In [ ]:
from itertools import *

def pos(x, y):
    return [(x+1, y), (x*2, y), (x, y+1), (x, y*2)]

M = 63 # ограничитель
Universe = set(product(range(1, M*2), range(1, M*2))) # множество всех чисел

In [ ]:
def pos(x, y):
    return [(x+1, y), (x*2, y), (x, y+1), (x, y*2)]
M = 63
U = {(x, y) for x in range(1, M*2) for y in range(1, M*2)}
GO = {(x, y) for x, y in U if x + y >= M}
GP = U - GO
W1 = {(x, y) for x, y in GP
        if any(p in GO for p in pos(x, y))}
L1 = {(x, y) for x, y in GP
          if all(p in W1 for p in pos(x, y))}
W2 = {(x, y) for x, y in GP - W1
        if any(p in L1 for p in pos(x, y))}
L2 = {(x, y) for x, y in GP - L1
          if all(p in W1 or p in W2 for p in pos(x, y))}

print("20:", [y for y in range(M) if (5, y) in W2])
print("21:", [y for y in range(M) if (5, y) in L2])

In [ ]:
def game(x, y, d: "допустимая глубина погружения"):
    if x + y >= 65:
        return "GO"
    if d < 0:  # ограничение рекурсии
        return "Unknown"
    if (game(x+1, y, d-1) == "GO" or game(x, y+1, d-1) == "GO" or
        game(x+y, y, d-1) == "GO" or game(x, y+x, d-1) == "GO"):
        return "W1"
    if (game(x+1, y, d-1) == "W1" and game(x, y+1, d-1) == "W1" and
        game(x+y, y, d-1) == "W1" and game(x, y+x, d-1) == "W1"):
        return "L1"
    if (game(x+1, y, d-1) == "L1" or game(x, y+1, d-1) == "L1" or
        game(x+y, y, d-1) == "L1" or game(x, y+x, d-1) == "L1"):
        return "W2"
    if (game(x+1, y, d-1) in ("W1", "W2") and game(x, y+1, d-1) in ("W1", "W2") and
        game(x+y, y, d-1) in ("W1", "W2") and game(x, y+x, d-1) in ("W1", "W2")):
        return "L2"
    return "Unknown"

for y in range(1, 53 + 1):
    print((11, y), game(11, y, 4))

(11, 1) Unknown
(11, 2) Unknown
(11, 3) Unknown
(11, 4) Unknown
(11, 5) Unknown
(11, 6) Unknown
(11, 7) Unknown
(11, 8) Unknown
(11, 9) Unknown
(11, 10) Unknown
(11, 11) Unknown
(11, 12) Unknown
(11, 13) Unknown
(11, 14) W2
(11, 15) Unknown
(11, 16) Unknown
(11, 17) Unknown
(11, 18) Unknown
(11, 19) Unknown
(11, 20) Unknown
(11, 21) Unknown
(11, 22) Unknown
(11, 23) Unknown
(11, 24) Unknown
(11, 25) L2
(11, 26) W2
(11, 27) W1
(11, 28) W1
(11, 29) W1
(11, 30) W1
(11, 31) W1
(11, 32) W1
(11, 33) W1
(11, 34) W1
(11, 35) W1
(11, 36) W1
(11, 37) W1
(11, 38) W1
(11, 39) W1
(11, 40) W1
(11, 41) W1
(11, 42) W1
(11, 43) W1
(11, 44) W1
(11, 45) W1
(11, 46) W1
(11, 47) W1
(11, 48) W1
(11, 49) W1
(11, 50) W1
(11, 51) W1
(11, 52) W1
(11, 53) W1

# 19-21 теория игр

In [ ]:
from functools import cache
def P(x):
  return [x+1, x*2]  # возвращаем значения x

@cache
def w(x):  # функция победы
  if x >= 29:
    return -1
  return -min(w(p) for p in P(x))

@cache
def T(x):  # время для выигрыша
  if x >= 29:
    return 0
  elif w(x) == 1:
    return 1 + min(T(p) for p in P(x) if w(p) == -1)
  else:
    return max(T(p) for p in P(x))

for x in range(1, 29):
  print(x, w(x), T(x), 'внимание!' if w(x) * T(x) in {-1, +2, -2} else "")  # проигрышная одноходовка, выигрышная двухходовка, проигрышная двухходовка

1 -1 6
2 1 6
3 -1 5
4 1 5
5 1 4
6 1 3
7 1 2 внимание!
8 -1 4
9 1 4
10 -1 3
11 1 3
12 -1 2 внимание!
13 1 2 внимание!
14 -1 1 внимание!
15 1 1
16 1 1
17 1 1
18 1 1
19 1 1
20 1 1
21 1 1
22 1 1
23 1 1
24 1 1
25 1 1
26 1 1
27 1 1
28 1 1

In [ ]:
def f(s, p):
  if s >= 65 and p == 2:
    return True
  if (s >= 65 and p != 2) or (s < 65 and p == 2):
    return False
  return f(s+1, p+1) or f(s+4, p+1) or f(s*3, p+1)

for s in range(1, 54):
  if f(s, 0):
    print(s)
    break

8

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 62 and p == 2:
    return True
  if (s1+s2 >= 62 and p != 2) or (s1+s2 < 62 and p == 2):
    return False

  return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1+s2, s2, p+1) or f(s1, s2+s1, p+1)

for s in range(1, 48):
  if f(14, s, 0):
    print(s)
    break

10

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 62 and p == 3:
    return True
  if (s1+s2 >= 62 and p != 3) or (s1+s2 < 62 and p == 3):
    return False

  if p % 2 != 0:
    return f(s1+1, s2, p+1) and f(s1, s2+1 , p+1) and f(s1+s2, s2, p+1) and f(s1, s2+s1, p+1)
  else:
    return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1+s2, s2, p+1) or f(s1, s2+s1, p+1)


for s in range(1, 48):
  if f(14, s, 0):
    print(s)

11
23

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 62 and (p == 2 or p == 4):
    return True
  if (s1+s2 >= 62 and p != 2 and p != 4) or (s1+s2 < 62 and p == 4):
    return False

  if p % 2 == 0:
    return f(s1+1, s2, p+1) and f(s1, s2+1 , p+1) and f(s1+s2, s2, p+1) and f(s1, s2+s1, p+1)
  else:
    return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1+s2, s2, p+1) or f(s1, s2+s1, p+1)


for s in range(1, 48):
  if f(14, s, 0):
    print(s)

22

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 59 and p == 1:
    return True
  if (s1+s2 >= 59 and p != 1) or (s1+s2 < 59 and p == 1):
    return False

  return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1*2, s2, p+1) or f(s1, s2*2, p+1)

for s in range(1, 54):
  if f(5, s, 0):
    print(s)
    break

27

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 59 and p == 3:
    return True
  if (s1+s2 >= 59 and p != 3) or (s1+s2 < 59 and p == 3):
    return False
  if p % 2 != 0:
    return f(s1+1, s2, p+1) and f(s1, s2+1 , p+1) and f(s1*2, s2, p+1) and f(s1, s2*2, p+1)
  else:
    return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1*2, s2, p+1) or f(s1, s2*2, p+1)
for s in range(1, 54):
  if f(5, s, 0):
    print(s)

24
26

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 59 and (p == 2 or p == 4):
    return True
  if (s1+s2 >= 59 and p != 2 and p != 4) or (s1+s2 < 59 and p == 4):
    return False
  if p % 2 == 0:
    return f(s1+1, s2, p+1) and f(s1, s2+1 , p+1) and f(s1*2, s2, p+1) and f(s1, s2*2, p+1)
  else:
    return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1*2, s2, p+1) or f(s1, s2*2, p+1)
for s in range(1, 54):
  if f(5, s, 0):
    print(s)

23
25

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 120 and p == 2:
    return True
  if (s1+s2 >= 120 and p != 2) or (s1+s2 < 120 and p == 2):
    return False
  return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1+3, s2, p+1) or f(s1, s2+3, p+1) or f(s1*2, s2, p+1) or f(s1, s2*2, p+1)


for s in range(1, 111):
  if f(9, s, 0):
    print(s)
    break

28

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 120 and p == 3:
    return True
  if (s1+s2 >= 120 and p != 3) or (s1+s2 < 120 and p == 3):
    return False

  if p % 2 != 0:
    return f(s1+1, s2, p+1) and f(s1, s2+1 , p+1) and f(s1+3, s2, p+1) and f(s1, s2+3, p+1) and f(s1*2, s2, p+1) and f(s1, s2*2, p+1)
  else:
    return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1+3, s2, p+1) or f(s1, s2+3, p+1) or f(s1*2, s2, p+1) or f(s1, s2*2, p+1)

for s in range(1, 111):
  if f(9, s, 0):
    print(s)

52
54

In [ ]:
from functools import cache

@cache
def f(s1, s2, p):
  if s1+s2 >= 120 and (p == 2 or p == 4):
    return True
  if (s1+s2 >= 120 and p != 2 and p != 4) or (s1+s2 < 120 and p == 4):
    return False

  if p % 2 == 0:
    return f(s1+1, s2, p+1) and f(s1, s2+1 , p+1) and f(s1+3, s2, p+1) and f(s1, s2+3, p+1) and f(s1*2, s2, p+1) and f(s1, s2*2, p+1)
  else:
    return f(s1+1, s2, p+1) or f(s1, s2+1 , p+1) or f(s1+3, s2, p+1) or f(s1, s2+3, p+1) or f(s1*2, s2, p+1) or f(s1, s2*2, p+1)

for s in range(1, 111):
  if f(9, s, 0):
    print(s)

53
55

In [ ]:
def f(s, p):
  if s >= 43 and p == 2:
    return True
  if (s >= 43 and p != 2) or (s < 43 and p == 2):
    return False

  if p % 2 == 0:
    return f(s+1, p+1) and f(s+4, p+1) and f(s*3, p+1)
  else:
    return f(s+1, p+1) or f(s+4, p+1) or f(s*3, p+1)

for s in range(1, 43):
  if f(s, 0):
    print(s)
    break

14

In [ ]:
def f(s, p):
  if s >= 43 and p == 3:
    return True
  if (s >= 43 and p != 3) or (s < 43 and p == 3):
    return False

  if p % 2 != 0:
    return f(s+1, p+1) and f(s+4, p+1) and f(s*3, p+1)
  else:
    return f(s+1, p+1) or f(s+4, p+1) or f(s*3, p+1)

for s in range(1, 43):
  if f(s, 0):
    print(s)

10
13

In [ ]:
def f(s, p):
  if s >= 43 and (p == 2 or p == 4):
    return True
  if (s >= 43 and p != 2 and p != 4) or (s < 43 and p == 4):
    return False

  if p % 2 == 0:
    return f(s+1, p+1) and f(s+4, p+1) and f(s*3, p+1)
  else:
    return f(s+1, p+1) or f(s+4, p+1) or f(s*3, p+1)

for s in range(1, 43):
  if f(s, 0):
    print(s)
    break

9

In [ ]:
def f(s, p):
  if s >= 202 and p == 2:
    return True
  if (s >= 202 and p != 2) or (s < 202 and p == 2):
    return False

  if p % 2 == 0:
    return f(s+1, p+1) and f(s+4, p+1) and f(s*3, p+1)
  else:
    return f(s+1, p+1) or f(s+4, p+1) or f(s*3, p+1)

for s in range(1, 202):
  if f(s, 0):
    print(s)
    break

67

In [ ]:
def f(s, p):
  if s >= 202 and p == 3:
    return True
  if (s >= 202 and p != 3) or (s < 202 and p == 3):
    return False

  if p % 2 != 0:
    return f(s+1, p+1) and f(s+4, p+1) and f(s*3, p+1)
  else:
    return f(s+1, p+1) or f(s+4, p+1) or f(s*3, p+1)

for s in range(1, 202):
  if f(s, 0):
    print(s)

63
66

In [ ]:
from functools import cache


@cache
def f(s, p):
  if s >= 202 and (p == 2 or p == 4):
    return True
  if (s >= 202 and p != 2 and p != 4) or (s < 202 and p == 34):
    return False

  if p % 2 == 0:
    return f(s+1, p+1) and f(s+4, p+1) and f(s*3, p+1)
  else:
    return f(s+1, p+1) or f(s+4, p+1) or f(s*3, p+1)

for s in range(1, 202):
  if f(s, 0):
    print(s)

62
65
67

In [ ]:
def f(s, p):
  if s >= 205 and p == 2:
    return True
  if (s >= 205 and p != 2) or (s < 205 and p == 2):
    return False

  if p % 2 == 0:
    return f(s+1, p+1) and f(s+5, p+1) and f(s*4, p+1)
  else:
    return f(s+1, p+1) or f(s+5, p+1) or f(s*4, p+1)

for s in range(1, 205):
  if f(s, 0):
    print(s)
    break

51

In [ ]:
from functools import cache

@cache
def f(s, p):
  if s >= 205 and p == 3:
    return True
  if (s >= 205 and p != 3) or (s < 205 and p == 3):
    return False

  if p % 2 != 0:
    return f(s+1, p+1) and f(s+5, p+1) and f(s*4, p+1)
  else:
    return f(s+1, p+1) or f(s+5, p+1) or f(s*4, p+1)

for s in range(1, 205):
  if f(s, 0):
    print(s)

46
50

In [ ]:
from functools import cache
@cache
def f(s, p):
  if s >= 149 and (p == 2 or p == 4):
    return True
  if (s >= 149 and p != 2 and p != 4) or (s < 149 and p == 4):
    return False

  if p % 2 == 0:
    return f(s+1, p+1) and f(s*2, p+1)
  else:
    return f(s+1, p+1) or f(s*2, p+1)

for s in range(0, 149):
  if f(s, 0):
    print(s)

72
74

In [ ]:
from functools import cache

@cache
def f(s, p):
  if s >= 205 and (p == 2 or p == 4):
    return True
  if (s >= 205 and p != 2 and p != 4) or (s < 205 and p == 4):
    return False

  if p % 2 == 0:
    return f(s+1, p+1) and f(s+5, p+1) and f(s*4, p+1)
  else:
    return f(s+1, p+1) or f(s+5, p+1) or f(s*4, p+1)

for s in range(1, 205):
  if f(s, 0):
    print(s)

45
49
51

In [ ]:
def f(s, p):
  if s >= 177 and p == 2:
    return True
  if (s >= 177 and p != 2) or (s < 177 and p == 2):
    return False
  if s % 2 == 0:
    return f(s+1, p+1) and f(s*2, p+1)
  else:
    return f(s+1, p+1) or f(s*2, p+1)

for s in range(1, 177):
  if f(s, 0):
    print(s)
    break

88

20

In [ ]:
def f(s, p):
  if s >= 177 and p == 3:
    return True
  if (s >= 177 and p != 3) or (s < 177 and p == 3):
    return False

  if p % 2 != 0:
    return f(s+1, p+1) and f(s*2, p+1)
  else:
    return f(s+1, p+1) or f(s*2, p+1)

for s in range(1, 177):
  if f(s, 0):
    print(s)

44
87

21

In [ ]:
def f(s, p):
  if s >= 177 and (p == 2 or p == 4):
    return True
  if (s >= 177 and p != 2 and p != 4) or (s < 177 and p == 4):
    return False

  if p % 2 == 0:
    return f(s+1, p+1) and f(s*2, p+1)
  else:
    return f(s+1, p+1) or f(s*2, p+1)

for s in range(0, 177):
  if f(s, 0):
    print(s)

86
88

In [ ]:
from functools import cache
import sys

sys.setrecursionlimit(1000)

@cache
def f(s1, s2, p):
  if s1+s2 >= 38 and p == 3:
    return True
  if (s1+s2 >= 38 and p != 3) and (s1+s2 < 38 and p == 3):
    return False

  if p % 2 != 0:
    return f(s1+2, s2, p+1) and f(s1+s2, s2, p+1) and f(s1, s2+2, p+1) and f(s1, s2+s1, p+1)
  else:
    return f(s1+2, s2, p+1) or f(s1+s2, s2, p+1) or f(s1, s2+2, p+1) or f(s1, s2+s1, p+1)

for s2 in range(1, 15):
  if f(8, s2, 0):
    print(s2)

In [ ]:
def f(s1, s2, p):
  if s1+s2 >= 86 and p == 2:
    return True
  if (s1+s2 >= 86 and p != 2) or (s1+s2 < 86 and p == 2):
    return False
  return f(s1+3, s2, p+1) or f(s1*2, s2, p+1) or f(s1, s2+3, p+1) or f(s1, s2 * 2, p+1)

 # if p % 2 == 0:
  #  return f(s1+3, s2, p+1) and f(s1*2, s2, p+1) and f(s1, s2+3, p+1) and f(s1, s2 * 2, p+1)
 # else:
#    return f(s1+3, s2, p+1) or f(s1*2, s2, p+1) or f(s1, s2+3, p+1) or f(s1, s2 * 2, p+1)

for s2 in range(1, 80):
  if f(6, s2, 0):
    print(s2)
    break

20

In [ ]:
def f(s1, s2, p):
  if s1+s2 >= 86 and p == 3:
    return True
  if (s1+s2 >= 86 and p != 3) or (s1+s2 < 86 and p == 3):
    return False

  if p % 2 != 0:
    return f(s1+3, s2, p+1) and f(s1*2, s2, p+1) and f(s1, s2+3, p+1) and f(s1, s2 * 2, p+1)
  else:
    return f(s1+3, s2, p+1) or f(s1*2, s2, p+1) or f(s1, s2+3, p+1) or f(s1, s2 * 2, p+1)

for s2 in range(1, 80):
  if f(6, s2, 0):
    print(s2)

36
37
38

In [ ]:
def f(s1, s2, p):
  if s1+s2 >= 86 and (p == 2 or p == 4):
    return True
  if (s1+s2 >= 86 and p != 2 and p != 4) or (s1+s2 < 86 and p == 4):
    return False

  if p % 2 == 0:
    return f(s1+3, s2, p+1) and f(s1*2, s2, p+1) and f(s1, s2+3, p+1) and f(s1, s2 * 2, p+1)
  else:
    return f(s1+3, s2, p+1) or f(s1*2, s2, p+1) or f(s1, s2+3, p+1) or f(s1, s2 * 2, p+1)

for s2 in range(1, 80):
  if f(6, s2, 0):
    print(s2)

33
34
35
39

#9 задание

найдите количество троек, которые могут образовать арифиметическую прогресссию, и разность которых не равна 0

In [ ]:
file = open('file.txt').readline()
c = 0
for i in file:
  l = sorted(int(num) for num in i.split())
  if l[2] - l[1] == l[1] - l[0] and l[1] - l[0] != 0:
    c+=1
print(c)

FileNotFoundError: [Errno 2] No such file or directory: 'file.txt'

В файле электронной таблицы 9-223.xls в каждой строке записаны семь натуральных чисел. Определите количество строк таблицы, для чисел которых выполнены оба условия:
– в строке есть одно число, которое повторяется трижды, остальные четыре числа различны;
– среднее арифметическое неповторяющихся чисел строки не больше повторяющегося числа.
В ответе запишите только число.

In [ ]:
file = open('9-1.txt')
c = 0

def check1(line):
  p = []
  for k in line:
    p.append(line.count(k))
  if p.count(1) == 4 and p.count(3) == 3:
    return True
  else:
    return False

def check2(line):
  p = []
  h = 0
  for k in line:
    if line.count(k) == 1:
      p.append(k)
    elif line.count(k) == 3:
      h = k
  sum1 = sum(p) / len(p)
  return sum1, h

for i in file:
  line = (sorted(int(num) for num in i.split()))
  sum1, h = check2(line)
  if sum1 <= h and check1(line):
    c += 1


print(c)

36

In [ ]:
a = [1, 2, 1, 2]
print(a.count(1))

2

=2*МАКС(A1:C1)^2

In [ ]:
file = open('9.txt')
c = 0

for i in file:
  line = sorted(int(num) for num in i.split())
  if line[2] ** 2 > (line[0] ** 2 + line[1] ** 2):
    c += 1


print(c)

3924

In [ ]:
file = open('9.csv')
n = 0
for line in file:
  nums = map(int, line.split(","))
  a, b, c, d = sorted(nums)
  n += (a+b) ** 2 <= b ** 2 + c ** 2

print(n)

In [ ]:
file = open('file.txt').readline()
c = 0
for i in file:
  l = sorted(int(num) for num in i.split())
  if l[3] > l[2] + l[1] + l[0]:
    if l[0] + l[1] == l[2] + l[3] or l[0] + l[2] == l[1] + l[3] or l[0] + l[3] == l[1] + l[2]:
      c+=1
print(c)

In [ ]:
file = open('9-227.txt')
count = 0
for i in file:
  num_list = sorted(int(num) for num in i.split())
  print(num_list)
  a = set(num_list)
  if len(a) == 3:
    sum_1 = num_list[0] + num_list[1]
    sum_2 = num_list[2] + num_list[3]
    if sum_2 / sum_1 > 2:
      if max(num_list) % min(num_list) != 0:
        count += 1
print(count)

In [ ]:
from collections import Counter

file = open('9-226.txt')
count = 0
sums = {}
ans = {}

for i in file:
  count += 1
  sums[count] = sorted(int(num) for num in i.split())

for key in sums:
  #count = Counter(sums[key])
  count = set(sums[key])
  if len(count) == 5:
    #print((''.join(map(str, sums[key]))))
    if (''.join(map(str, sums[key]))).count(str(max(sums[key]))) == 1:
      ans[key] = sum(sums[key])



print(ans)

# 2 задание

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = x and ((not y) and z and (not w) or y and (not z))
        if f:
          print(x, y, w, z)

x y w z
1 0 0 1
1 1 0 0
1 1 1 0

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = (not(x <= y)) or (x == z) or w
        if f == 0:
          print(x, y, w, z)

x y w z
0 0 0 1
0 1 0 1
1 1 0 0

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = not(y <= x) or (y == w) or z
        if f == 0:
          print(x, y, w, z)

x y w z
0 0 1 0
1 0 1 0
1 1 0 0

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = not(x <= y) or ((not(w)) <= (not(z))) or w
        if f == 0:
          print(x, y, w, z)

x y w z
0 0 0 1
0 1 0 1
1 1 0 1

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = (x and (not(y))) or (y == z) or (not(w))
        if f == 0:
          print(x, y, w, z)

x y w z
0 0 1 1
0 1 1 0
1 1 1 0

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for z in 0, 1:
      for w in 0, 1:
        f = ((not x) or y or z) and (x or (not z) or (not w))
        if f == 0:
          print(x, y, w, z)

x y w z
0 0 1 1
0 1 1 1
1 0 0 0
1 0 1 0

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = (x and z) or (((not w) or x) == ((not z) or y))
        if f == 0:
          print(x, y, w, z)

x y w z
0 0 0 1
0 0 1 0
0 1 1 0
0 1 1 1

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = ((x <= y) and (y <= w)) or (z == (x or y))
        if f == 0:
          print(x, y, w, z)

x y w z
0 1 0 0
1 0 0 0
1 0 1 0
1 1 0 0

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for z in 0, 1:
      for w in 0, 1:
        f = (x or (not(y))) and (not(y == z)) and (not(w))
        if f:
          print(x, y, w, z)

x y w z
0 0 0 1
1 0 0 1
1 1 0 0

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = (x and (not(y))) or (y == z) or w
        if f == 0:
          print(x, y, w, z)

x y w z
0 0 0 1
0 1 0 0
1 1 0 0

In [ ]:
from itertools import product
def f1():
  return not x or y or (w != z)

def f2():
  return (not x or y) == (w and (not(z)))

for x, y, w, z in product([0, 1], repeat = 4):
  if f1() == f2():
    print(x, y, w, z)

0 0 1 0
0 1 1 0
1 0 0 1
1 1 1 0

In [ ]:
for a, b, c, d, e in product([0, 1], repeat=5):
    rows = [(0, 0, a, b),
            (0, c, d, 0),
            (1, 1, 1, e)]
    values = (1, 1, 0)
    if len(set(rows)) != len(rows):
        continue  # есть совпадающие строки
    for perm in permutations('xyzw'):
        if all([f(**dict(zip(perm, row))) == val
                for row, val in zip(rows, values)]):
            print(*perm)

In [ ]:
from itertools import *
def f(x, y, z, w):
  return (x and (not y)) or (y == z) or (not w)


for a, b, c, d, e in product([0, 1], repeat = 5):
  rows = [(a, 0, b, c),
          (1, 0, d, 0),
          (1, e, 0, 0)]
  values = (0, 0, 0)
  if len(set(rows)) != len(rows):
            continue
  for p in permutations('xyzw'):
            if all([f(**dict(zip(p, row))) == val for row, val in zip(rows, values)]):
              print(*p)

w z y x

In [ ]:
def f(x, y, z, w):
  return ((x <= y) == (y <= (not w))) or ((not z) and w)

for a, b, c, d, e, f in product([0, 1], repeat = 6):
  rows = [(a, b, c, 0),
          (0, d, e, 0),
          (0, f, 0, 0)]
  values = (0, 0, 0)
  if len(set(rows)) != len(rows):
    continue
  for p in permutations('xyzw'):
    if all([f(**dict(zip(p, row))) == val for row, val in zip(rows, values)]):
      print(*p)

TypeError: 'int' object is not callable

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = ((not x) and (not y)) or (y == z) or (not w)
        if f == 0:
          print(x, y, w, z)

x y w z
0 1 1 0
1 0 1 1
1 1 1 0

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        f = ((x <= y) == (y <= (not w))) or ((not z) and w)
        if f == 0:
          print(x, y, w, z)

x y w z
0 1 1 1
1 0 0 0
1 0 0 1
1 0 1 1
1 1 1 1

In [ ]:
from itertools import *

def f(x, y, z, w):
    return (x or y and not z) and not w

for c in permutations('xyzw'):
    for t in '10001', '00101', '01010':
        d = {c[i]: int(t[i]) for i in range(4)}
        if f(**d) != int(t[4]):
            break
    else:
        print(*c)

In [ ]:
import itertools as it
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        F = ((x or w) <= (w or not y)) == (not z or y)
        if F == 0:
          print(x, y, w, z)

x y w z
0 0 0 1
0 0 1 1
1 0 0 1
1 0 1 1
1 1 0 0
1 1 0 1

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        F = ((x and y) <= (z and w) and (not y and z)) == (not x or w)
        if F == 1:
          print(x, y, w, z)

x y w z
0 0 0 1
0 0 1 1
1 0 0 0
1 0 1 1
1 1 0 0
1 1 0 1

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        F = ((x != w) <= (z and not x)) or (y and w and z)
        if F == 0:
          print(x, y, w , z)

x y w z
0 0 1 0
0 1 1 0
1 0 0 0
1 0 0 1
1 1 0 0
1 1 0 1

In [ ]:
print('x y z w')
for x in 0, 1:
  for y in 0, 1:
    for z in 0, 1:
      for w in 0, 1:
        F = not x or y or (not z and w)
        if F == 0:
          print(x, y, z, w)

x y z w
1 0 0 0
1 0 1 0
1 0 1 1

In [ ]:
print('x y w z')
for x in 0, 1:
  for y in 0, 1:
    for w in 0, 1:
      for z in 0, 1:
        F = (x <= (not w)) and (y <= x) and z
        if F == 1:
          print(z, x, y, w)

x y w z
1 0 0 0
1 0 0 1
1 1 0 0
1 1 1 0

In [ ]:
import itertools as it
T = [[1, 0, 0, 0],
     [1, 1, 0, 0],
     [1, 1, 1, 0]]

for x, y, z, w in it.product([0, 1], repeat=4):
  F = (x <= (not w)) and (y <= x) and z
  if F == 1:
    print(z, x, y, w)

1 0 0 0
1 0 0 1
1 1 0 0
1 1 1 0

In [ ]:
print('x y z')
for x in range(0, 2):
  for y in range(0, 2):
    for z in range(0, 2):
      res = not z and x or x and y
      print(x, y, z, res)

x y z
0 0 0 0
0 0 1 0
0 1 0 0
0 1 1 0
1 0 0 1
1 0 1 0
1 1 0 1
1 1 1 1

In [ ]:
for x in 0, 1:
  for y in 0, 1:
    for z in 0, 1:
      F = not z and x or x and y
      print(x, y, z, F, sep='\t')

0	0	0	0
0	0	1	0
0	1	0	0
0	1	1	0
1	0	0	1
1	0	1	0
1	1	0	1
1	1	1	1

In [ ]:
print('x y z')
for x in range(0, 2):
  for y in range(0, 2):
    for z in range(0, 2):
      if (not x and y and z) or (not x and not z) == 1:
        print(x, y, z)

x y z
0 0 0
0 1 0
0 1 1

# 24 задание

## динамический подсчёт

длина цепочки, стостоящей из символов a c d f

In [ ]:
s = open('24.txt').readline()
m = [0]*len(s)

for i in range(len(s)):
  if s[i]  in 'ACDF':
    m[i] = m[i-1] + 1

print(max(m))

каждые 2 соседних символа различны:

In [ ]:
s = open('24.txt').readline()
m = [1]*len(s)

for i in range(1, len(s)):
  if s[i] != s[i-1]:
    m[i] = m[i-1] + 1

print(max(m))

цепочка из одинаковых символов - символ, из которой строится подцепочка и затем длину

In [ ]:
s = open('24.txt').readline()
m = [1]*len(s)

for i in range(1, len(s)):
  if s[i] == s[i-1]:
    m[i] = m[i-1] + 1
    if m[i] == 9:
      print(s[i], m[i])

print(max(m))

цепочка, в котором символы идут в порядке возрастания

In [ ]:
s = open('24.txt').readline()
m = [1]*len(s)

for i in range(1, len(s)):
  if s[i] > s[i-1]:
    m[i] = m[i-1] + 1

print(max(m))

In [ ]:
s = open('24.txt').readline()
m = [1]*len(s)

for i in range(1, len(s)):
  if s[i] <= s[i-1]:
    m[i] = m[i-1] + 1
    if m[i] == 19:
      print(s[i-18:i+1]) # срез на последние 19 символов

print(max(m))

среди символов нет сочетания ST

In [ ]:
s = open('24.txt').readline()
m = [1]*len(s)

for i in range(1, len(s)):
  if s[i-1] + s[i] != 'ST':
    m[i] = m[i-1] + 1

print(max(m))

нет сочетания PPP

In [ ]:
s = open('24.txt').readline()
m = [2]*len(s)

for i in range(2, len(s)):
  if s[i-2] + s[i-1] + s[i] != 'PPP':
    m[i] = m[i-1] + 1

print(max(m))

идущие подряд пары символов ZX или ZY - (пары символов)

In [ ]:
s = open('24.txt').readline()
m = [0]*len(s)

for i in range(1, len(s)):
  if s[i-1] + s[i] == 'ZX' or s[i-1] + s[i] == 'ZY':
    m[i] = m[i-2] + 1
print(max(m))

идущие подряд пары символов AA или CC

In [ ]:
s = open('24.txt').readline()
m = [0] * len(s)

for i in range(1, len(s)):
  if s[i-1] + s[i] == 'AA' or s[i-1] + s[i] == 'CC':
    m[i] = m[i-2] + 1
print(max(m))

Текстовый файл 24-279.txt состоит не более чем из 106 символов и содержит только заглавные буквы латинского алфавита и десятичные цифры. Определите максимальное количество идущих подряд символов, которые могут представлять запись числа в шестнадцатеричной системе счисления. Незначащие нули учитывать не следует.

In [ ]:
file = open('24-279.txt').readline()
c = m = 0

def check(s):
  if s in '0123456789ABCDEF':
    return True
  else:
    return False


for i in range(len(file)):
  if check(file[i]):
    c += 1
  else:
    c = 0
  m = max(m, c)

print(m)

21

In [ ]:
file = open('24.txt').readline()
c = m = 0
s = 0
for i in file:
  if i == 'A':
    s = 1
    c = 0

  elif i == 'Z':
    s = 0
    m = max(m, c)

  elif s == 1:
    c += 1

print(m)

112

In [ ]:
F=open('24.txt', 'r')
st=F.readline()
fl_s=0
k=0
mx=0
for i in range (len(st)):
    if st[i]=="A":
        fl_s=1
        k=0
    elif st[i]=="Z":
        fl_s=0
        if k>mx:
            mx=k
    elif fl_s==1:
        k+=1
print (mx+2)

114

In [ ]:
file = open('24.txt').readline()

glasn = ['A', 'E', 'O']
sogl = ['B', 'C', 'D']
c = m = 0

for i in range(len(file)-1):
  if file[i] in glasn and file[i+1] in sogl:
    c += 1
    m = max(m, c)
  else:
    c = 0

print(m)

1

Определите количество строк, в которых буквы S и T встречаются одинаково часто?

In [ ]:
file = open('24.txt')
n = 0
# lines = file.readlines()
# lines = [line.strip() for line in file] rstrip убирает пустоты справа
for line in file:
  line = line.rstrip()
  if line.count('S') == line.count('T'):
    n += 1

print(n)

In [ ]:
file = open('24.txt')

def is_palindrome(s):
  return s == s[::-1]

def is_just_palindrome(s):
  for i in range(len(s)):
    for k in range(i+1, len(s)):
      p = s[:i] + s[k] + s[i+1:k] + s[i] + s[k+1:]
      if is_palindrome(p):
        return True
  return False

def is_jsut_palindrome7_in_line(line):
  for pos in range(0, len(line) - 7 + 1):
    s = line[pos:pos+7]
    if is_just_palindrome(s):
      return True
  return False

for line in file:
  n += is_just_palindrome7_in_line(line)
print(n)

В текстовом файле находится цепочка из символов, в которую могут входить заглавные буквы латинского алфавита A…Z. Найдите длину самой длинной подцепочки, в которой буквы расположены в алфавитном неубывающем порядке. Если в файле несколько подходящих цепочек одинаковой длины, нужно взять первую из них. В ответе укажите через пробел сначала длину подцепочки, затем символ, с которого она начинается и затем  символ, которым она заканчивается.

Например в последовательности AZQDMMPUABCDAZ такая подцепочка DMMPU длиной 5.

In [ ]:
file = open('24.txt')

pos = 0
start = 0
end = 0
max_len_pos = 0

for i in range(1, len(file)):
  if file[i] >= file[i-1]:
    if (i - start + 1) > max_len: # текущая длина
      max_len = i - start + 1
      max_len_pos = start
  else:
    start = i

print(max_len, file[max_len_pos], file[max_len_pos + max_len - 1])

В текстовом файле находится цепочка из символов, в которую могут входить заглавные буквы латинского алфавита A…Z. Найдите длину самой длинной подцепочки, в которой есть ровно три буквы Z (не обязательно стоящие рядом).

In [ ]:
file = open('24_3.txt').readline()
c = z = m = 0
for i in file:
  c += 1
  if i == 'Z':
    z += 1

  if z == 3:
    m = max(m ,c)
    z = 0
    c = 0

print(m)

0

In [ ]:
file = open('24-1.txt').readline()

c = m = 0

for i in range(len(file)-1):
  if file[i]

Цепочка из символов латинского алфавита A B C D E F. Найдите длину самой длинной подцепочки, состоящей из из символов A C D F (в произвольном порядке)

In [ ]:
file = open('text.file').readline()
file = file.replace('B', ' ').replace('E', ' ')
print(max(len(nums) for nums in file.split()))

состоят из X Y Z, каждые 2 соседних символа различны

In [ ]:
file = open('24.txt')
text = file.read().strip()

for c in 'XYZ':
  while 'XX' in s:
    s = s.replace(c*2, c + ' ' + c)
w = s.split()
n = len(max(W, key=len))
print(m)

In [ ]:
file = open('24-1.txt').readline()
c = m = 1
for i in range(len(file)-1):
  if file[i] == file[i+1]:
    c += 1
    m = max(m, c)
  else:
    c = 1
print(m)

In [ ]:
file = open('k7a-4.txt').readline()
c = m = 1

for i in range(len(file)):
  if file[i] != 'D':
    c += 1
    m = max(m, c)
  else:
    c = 0

print(m)

44

не содержащей символа D

In [ ]:
file = open('24.txt')
text = file.read().strip()
words = text.split('D')
print(len(max(words, key=len)))

In [ ]:
file = open('k7a-1.txt').readline()
c = m = 1
for i in range(len(file)):
  if file[i] == 'D' or file[i] == 'E':
    c = 0
  else:
    c += 1
    m = max(m, c)

print(m)

16

In [ ]:
string = open("24.txt").readline().replace("D", " ").replace("E", " ")
words = string.split()
print(len(max(words, key=len)))

In [ ]:
import re
file = open('24.txt').read()
string_list = re.findall(r'A.*?A', file)
print(len(string_list))

FileNotFoundError: [Errno 2] No such file or directory: '24.txt'

минимальная длина AF подстроки. АF подстрока - последовательность символов ABCDEF ограниченные в начале символом A, а в конце символом F

In [ ]:
file = open('24.txt').read().rstrip()

state = 1 # ждём A и игнорируем буквы F
for c in file:
  if state == 1:
    if c == 'A':
      n = 1
      state = 2 # теперь ждём F
  elif state == 2:
    if c == 'A':
      n = 1
    elif c != 'F':
      n += 1
      state = 1
      if n != 2:  #больше чем AF
        m = min(m , n)
    else:
      n += 1

print(m)

In [ ]:
file = open("24-2.txt")
text = file.read().rstrip()
wait_F = False
m = len(text)
for c in text:
    if c == 'A':
        n = 1
        wait_F = True
    elif wait_F:
        n += 1
        if c == 'F':
            wait_F = False
            if n != 2:  # больше чем AF
                m = min(m, n)
print(m)

Файл содержит только заглавные буквы. Определить максимальное количество идущих подряд символов, среди которых нет сочетания ST

S может включаться в подстроку

In [ ]:
file = open('24.txt').readline()
file = file.replace('ST', 'S T')
answer = []
for i in file.split():
  answer.append(len(i))

print(max(answer))

среди которых нет сочеитания KEGE

In [ ]:
file = open('24.txt').readline()
file = file.replace('KEGE', 'KEG EGE')
answer = []
for i in file.split():
  answer.append(len(i))

print(max(answer))

['abcdfghjk', 'j', 'l', 'llls;l', 'l;ls;l', ';ls;l;ls;l', ';ls;l;sl;', ';l;']

нет сочетания символов PPP

(если сочетане начинается и заканчивается на одну и ту же букву, необходимо сделать несколько замен в цикле!)

In [ ]:
file = open('24.txt').readline()
while 'PPP' in file:
  file = file.replace('PPP', 'PP PP')

answer = []
for word in file.split():
  answer.append(len(word))

print(max(answer))

Буквы латинского алфавита и десятичные цифры. Найти длину последовательности, состоящей из одинаковых символов. Если несколько цепочек подходящей длины, возьмите первую из них. Выведите символ из которого строитсмя подцепочка и через пробел - длину

In [ ]:
file = open('24.txt').readline()
c = m = 1 # строка состоит минимум из 1 символа
char = ''
for i in range(len(file)-1):
  if file[i] == file[i+1]:
    c += 1
    if c > m:
      m = c
      char = file[i]
  else:
    c = 1

print(char, m)

In [ ]:
file = open('24-263.txt').readline()
c = m = 1

for i in range(len(file)-1):
  if file[i] != file[i+1]:
    c += 1
    if c > m:
      m = c
  else:
    c = 1

print(m)

302

In [ ]:
s = open('24-264.txt').readline()
c = m = 1


def check(a):
  try:
    ts = int(a)
    return False
  except Exception:
    return True


for i in range(len(s)-1):
  a1 = check(s[i])
  a2 = check(s[i+1])
  if a1 != a2:
    c += 1
    m = max(m, c)
  else:
    c = 1

print(m)

18

максимальная длина цепочки EBCFEBCF (последний фрагмент может быть неполным)

In [ ]:
file = open('24.txt').read().strip()
pattern = 'EBCF'
for i in range(len(s)):
  if s[i] in pattern:
    pos = pattern.find(s[i])
    if pattern[pos-1] == s[i-1]:  # предыдущая буква
      n += 1
    else:
      n = 0

In [ ]:
file = open("k7b-4.txt")
pattern = "EBCF"
s = file.read().rstrip()
n = -10
m = 0
for i in range(1, len(s)):
    # если слева от текущей та, которая слева по паттерну:
    if s[i] in "EBCF" and s[i-1] == "EBCF"["EBCF".find(s[i])-1]:
        n += 1
        m = max(m, n)
    elif s[i] == 'E':
        n = 1
print(m)

Опеделите максимальное количество символов, идущих друг за другом в строго возрастающем порядке

In [ ]:
s = open('24.txt').readline()
c = m = 1

for i in range(len(s)-1):
  if s[i] < i[i+1]:
    c += 1
    m = max(c, m)
  else:
    c = 1

print(m)

Максимальное количество символов, идущих обратном в алфавитном порядке X Y Z

In [ ]:
s = open('24.txt').readline()
c = m = 1

for i in range(len(s)-1):
  if s[i+1] <= s[i]:
    c+=1
    m = max(m, c)
  else:
    c = 1
print(m)

Строка из заглавных латинских букв X Y Z, определите максимальное количество идущих пар символов ZX или ZY

In [ ]:
s = open('22.txt').readline()
s = s.replace('ZX', '*').replace('ZY', '*')
s = s.replace('X', ' ').replace('Y', ' ').replace('Z', ' ')
answer = []
for c in s.split():
  answer.append(len(c))

print(max(answer))

True

In [ ]:
s = open('24_12254.txt').readline()
c = m = 1

for i in range(len(s)-1):
  if (s[i] + s[i+1]) in ['SQ', 'RS', 'QR']:
    c+=1
    m = max(c, m)
  else:
    c = 1

print(m)

54

Текстовый файл состоит из символов T, U, V, W, X, Y и Z.

Определите в прилагаемом файле минимальное количество идущих подряд символов (длину непрерывной подпоследовательности), среди которых символ X встречается не менее 500 раз, а символ Y не встречается совсем.

Для выполнения этого задания следует написать программу.

In [ ]:
s = open('24_11954.txt').readline()
s = s.replace('Y', ' ')
answer = []
for i in s.split():
  if i.count('X') > 500:
    print('d')
    answer.append(len(i))

print(min(answer))

d
68507

определите количество строк, в которых буква K встречается чаще, чем буква U

In [ ]:
file = open('24.txt', encoding='utf8')
n = 0
for line in file.read():  #split() //  splitlines()
  if line.count('K') > line.count('U'):
    n+=1

print(n)

длину самой длинной подцепочки, состоящей из одинкаовых символов

In [ ]:
file = open('z.txt')
file = file.read()
n = m = 0


for i in range(1, len(file)):
  if file[i] == file[i-1]:
    n += 1
    m = max(n, m)
  else:
    n = 1


print(m)

4

максимальная длина последовательности, состоящей ищ символов S (хоты бы 1 символ есть в подстроке)

In [ ]:
file = open('24-5.txt')
file = file.read().rstrip()

n = m = 0

for i in range(0, len(file)):  #начинаем с индекса 0, т.к нет i-1
  if file[i] == 'R':
    n+=1
  else:
    n = 0
  m = max(m, n)

print(m)

10

In [ ]:
file = open('24-5.txt').readline()
c = m = 1
for i in range(len(file)):
  if file[i] == 'R':
    c += 1
  else:
    c = 0
  m = max(m , c)

print(m)

10

In [ ]:
file = open('24.txt')
file = file.read().rstrip()

words = file.replace('R', ' ').replace('T', ' ').split()
print(max(words, key=len))

FSWZ ровно 3 буквы F, не обязательно стоящие рядом

In [ ]:
file = open('24.txt')
text = file.read().rstrip()

words = text.split('F')
A = [len(word) for word in words]
for i in range(len(A)):
  x = A[i] + A[i+1] + A[i+2] + A[i+3] + 3
  m = max(m , x)

print(m)

Определите длину подстроки, в которой комбинация AB встречается ровно 21 раз

In [ ]:

s = 'ABSHGSABDABKKJKJABSDJDHJHDJHABABAJHDJHJDHABABA'
s = s.split('AB')
print(s)
for i in range(len(s)-21):
  c = 0
  for j in range(i, i+22):
    c+=len(s[j])
  m = max(m, c)

print(m)

['', 'SHGS', 'D', 'KKJKJ', 'SDJDHJHDJH', '', 'AJHDJHJDH', '', 'A']
54

In [ ]:
file = open('24-3.txt').readline()
c = m = 1
for i in range(len(file)-1):
  if ord(file[i]) < ord(file[i+1]):
    c += 1
    m = max(m, c)
  else:
    c = 1

print(m)

6

In [ ]:
file = open('24-1.txt').readline()

c= m = 1
for i in range(len(file)-1):
  if file[i+1] < file[i]:
    c += 1
    m = max(m,c)
  else:
    c = 1

print(m)

8

#14 задание

In [ ]:
x = 9**12 + 3**8 - 3
s = ''
while x != 0:
  s += str(x % 3)
  x = x // 3

s = s[::-1]
print(s.count('2'))

7

In [ ]:
for x in '0123456789abcdefghijkkl':
  num = int(f'2{x}{x}341011', 23) + int(f'220{x}4', 23) + int(f'110{x}6', 23)
  if num % 22 == 0:
    print(num // 22)

7766124214
9542554905

In [ ]:
for x in '0123456789abcdefghijklmno':
  num = int(f'1{x}2{x}3{x}4{x}5', 25) + int(f'2{x}024', 25) + int(f'1{x}099', 25)
  if num % 24 == 0:
    print(num // 24)

6632993607
7651881632
8670769657
9689657682
10708545707
11727433732

In [ ]:
for x in '0123456789abcdefghijklmno':
  num = int(f'1{x}2{x}3{x}4{x}5', 25) + int(f'2{x}024', 25) + int(f'1{x}099', 25)
  if num % 24 == 0:
    print(num, num // 24)

159191846568 6632993607
183645159168 7651881632
208098471768 8670769657
232551784368 9689657682
257005096968 10708545707
281458409568 11727433732

In [ ]:
a = '0123456789abcdefghijklmno'
for x in a:
    s1 = int('1' + x + '2' + x + '3' + x + '4' + x + '5', 25)
    s2 = int('2' + x + '024', 25)
    s3 = int('1' + x + '099', 25)
    if (s1 + s2 + s3) % 24 == 0:
        print((s1 + s2 + s3) // 24, s1+s2+s3)

6632993607 159191846568
7651881632 183645159168
8670769657 208098471768
9689657682 232551784368
10708545707 257005096968
11727433732 281458409568

In [ ]:
x = 7*5**123 + 6*5**111 - 5*25**50 + 4*125**30 - 3*5**10
s = ''
while x != 0:
  s += str(x % 5)
  x = x // 5

# s = s[::-1]
print(s.count('4'))

89

In [ ]:
for x in range(57):
  for y in range(57):
    num = 53*57**7 + 3*57**6 + x*57**5 + 6*57**4 + 6*57**3 + y*57**2 + 3*57**1 + 5
    if num % 56 == 0 and y*

In [ ]:
x = 7*5**123 + 6*5**11 - 5*25**50 + 4*125**30 - 3*5**10
s = ''

while x != 0:
  s += str(x % 5)
  x = x // 5

s = s[::-1]
print(s.count('4'))

23

In [ ]:
for x in '0123456':
  for y in '0123456':
    number = int(y+x+'320', 7) + int('1'+x+'3'+y+'3', 9)
    if number % 181 == 0:
      print(number//181)

148

In [ ]:
for x in '0123456789A':
  number = int('95' + x + '2', 11) + int(x + '458', 12)
  if number % 136 == 0:
    print(number // 136)

174

In [ ]:
answer = []
for x in '0123456789ABCDEFGHI':
  num = int(f'78{x}79643', 19) + int(f'25{x}43', 19) + int(f'63{x}5', 19)
  if num % 18 == 0:
    answer.append(num//18)

print(min(answer))

368599039

In [ ]:
x = 125**4 + 25**8 - 30
s = ''
while x != 0:
  s += str(x % 5)
  x = x // 5
s = s[::-1]
print(s.count('4'))

10

In [ ]:
for x in '0123456789A':
  for y in '0123456789A':
    number = int(f'{x}341{y}', 11) + int(f'56{x}1{y}', 19)
    if number % 305 == 0:
      print(number // 305)

2778

In [ ]:
n = 0
x = 216 ** 10 + 6 ** 12 - 24
while x != 0:
  d = x % 6  # последняя цифра в 6-ричной сс
  if d == 0:  # обработка этой цифры
    n += 1
  x = x // 6  # её зачёркивание и извлечение
print(n)

19

In [ ]:
n = 0
x = 216 ** 10 + 6 ** 12 - 24
while x != 0:
  d = x % 6  # последняя цифра в 6-ричной сс
  if d == 0:  # обработка этой цифры
    n += 1
  x = x // 6  # её зачёркивание и извлечение
print(n)

In [ ]:
x = 4**2014 + 2**2015 - 8
count = 0
while x:
 if x % 2 == 1: count += 1
 x //= 2
print( count )

2013

In [ ]:
for n in range(4, 20):
  if int('132', n) + 0o13 == int('124', n+1):
    print(n)

6

In [ ]:
x = 49**7 + 7**21 - 7
count = 0
while x > 0:
  if x % 7 == 6:
    count +=1
  x //=7
  print(count)

In [ ]:
s = 4**512 + 8**512 - 2**128 - 250
x = bin(s) [2:]
n = x.count("0")
print (n)

519

In [ ]:
x = 3 * 4 ** 38 + 2 * 4 ** 23 + 4 ** 20 + 3*4**5 + 2 * 4 ** 4 +1
hex(x)[2:].count('0')

15

In [ ]:
x = 4 ** 2014 - 2 ** 2015 - 8
b = bin(x)[2:]
print(b.count('1'))

4024

In [ ]:
x = 9 ** 11 * 81 ** 5 - 27 ** 3 - 27
count = 0
while x > 0:
  if x % 3 == 2:
    count += 1
  x //= 3

print(count)

38

Значение арифметического выражения:  записали в системе счисления с основанием 6. При этом в записи оказалось 20 цифр 5. При каком минимальном целом положительном X это возможно?

In [ ]:
for x in range(1, 1000):
    y = 216 ** 5 + 36 ** 2 - x
    s = ""
    while y != 0:
        s += str(y % 6)
        y //= 6
    s = s[::-1]
    if s.count("20") == 5:
        print(x)
        break

In [ ]:
answer = []
for x in range(0, 10000):
  y = 512 ** 12 + 2 ** 12 - x
  s = ''
  while y != 0:
    s += str(y%8)
    y  //= 8
    s = s[::1]
    if s.count('0') == 33:
      answer.append(x)
      break

print(max(answer))

4096

In [ ]:
for x in '0123456789abcdfgh':
  a = int(f'9009{x}', 18) + int(f'2257{x}', 18)
  if a % 15 == 0:
    print(x, a//15)

6 77888

In [ ]:
for n in range(2, 40):
  if n ** 2 + 2*n + 3 == 9 * (n+2) + 3:
    print(n)

9

In [ ]:
for n in range(2, 40):
  if 56 % n == 1 and 45 % n == 1:
    print(n)

11

In [ ]:
x = 17 ** 5 + 85 ** 8 - 10
a = []
while x > 0:
  a = [x%17]
  x //= 17
print(a.count(16))

0

In [ ]:
for x in '0123456789abcdfg':
  y = int('1B4' + x + '6', 17) + int('1'+x+'2'+x, 17)
  if y % 19 == 0:
    print(x, y//19)

8 7691

In [ ]:
for x in '0123456789abcdfg':
  y = int('1'+x+'2'+x+'9', 17) + int('3' + x + 'C1' + x, 17)
  if y % 12 == 0:
    print(y//12)

29000
31461
33922
36383
38844
41305

In [ ]:
ans = []
for x in range(1, 10000):
  y = 343 ** 8 + 49 ** 2 - x
  s = ''
  while y != 0:
    s += str(y%7)
    y //= 7
    s = s[::1]
    if s.count('0') == 21:
      ans.append(x)
      break
print(max(ans))

2401

In [ ]:
for x in '0123456789abcdefg':
  y = int(f'8{x}5678', 25) + int(f'457{x}69', 25) + int(f'145{x}1', 25)
  if y % 23 == 0:
      print(x, y // 23)

In [ ]:
x = (9**7)+(3**21) - 19
s = ''
while x != 0:
    s += str(x % 3)
    x //= 3
s = s[::-1]
print(s.count("2"))

13

In [ ]:
result_search = []
for x in '0123456789AB':
    for y in '0123456789AB':
        t = int(y + 'AA' + x, 12) + int(x + '02' + y, 14)
        if t % 80 == 0:
            result_search.append(t)
if result_search:
    print(min(result_search) // 80)

In [ ]:
ans = []
for y in '0123456789ABCDE':
  s = int(f'ABCD{y}', 15) + int(f'123{y}4', 15)
  if s % 14 == 0:
    ans.append(s//14)

print(min(ans))

43166

In [ ]:
for x in '0123456789abcdfg':
  y = int('1B4' + x + '6', 17) + int('1'+x+'2'+x, 17)
  if y % 19 == 0:
    print(x, y//19)

8 7691

In [ ]:
for x in '0123456789abcde':
  y = int('97968' + x + '15', 15) + int('7' + x + '233', 15)
  if y % 14 == 0:
    print(x, y//14)

5 116071912
c 116073712

Значение арифметического выражения: 4910 + 730 – 49— записали в системе счисления с основанием 7. Сколько цифр «6» содержится в этой записи?

In [ ]:
x = 49**10 + 7**30 - 49
s = ''
while x != 0:
    s += str(x % 7)
    x //= 7
s = s[::-1]
print(s.count("6"))

18

# 13 задание

In [ ]:
from ipaddress import *
net = ip_network('135.12.171.214/255.255.248.0', 0)
print(net)

135.12.168.0/21

In [ ]:
from ipaddress import *

c = 0
def count(network):
    for ip in network:
        ips = [bin(int(t))[2:] for t in str(ip).split('.')]
        return (ips[-1].count('1') + ips[-2].count('1') > 3)

for a in range(0, 256):
    network = ip_network(f'183.192.{a}.0/255.255.252.0', 0)
    if count(network):
        print(a)
        break

In [ ]:
from ipaddress import *

c = 0
net = ip_network('112.154.133.208/255.255.252.0', 0)
for ip in net.hosts():
    ips = [bin(int(t))[2:] for t in str(ip).split('.')]
    nuls = ips[-1].count('0') + ips[-2].count('0')
    if ips[0].count('1') + ips[1].count('1') <= nuls and nuls % 2 != 0:
        c += 1

print(c)

466

In [ ]:
from ipaddress import *

c = 0
net = ip_network('116.29.170.89/255.255.255.224', 0)
for ip in net:
    r = f'{ip:b}'[16:]
    l = f'{ip:b}'[:16]
    if l.count('1') >= r.count('1'):
        c += 1

print(c)

Сколько ip адресов имеют ровно 2 одинвковых по значению байта:?

In [ ]:
from ipaddress import *
k = 0
net = ip_network('117.32.0.0/255.224.0.0')
for ip in net.hosts():
  b = str(ip).split('.')
  if len(set(b)) == 3:
    k += 1

print(k)

40638

In [ ]:
from ipaddress import *
net = ip_network('192.168.32.160/255.255.255.240')
c = 0
for ip in net.hosts:
  ip_list = list(map(int, str(ip).split('.')))
  ip_list = [bin(new_ip)[2:] for new_ip in ip_list]
  if ''.join(ip_list).count('0') > 21:
    c+=1
print(c)

TypeError: 'method' object is not iterable

In [ ]:
from ipaddress import *
k = 0
net = ip_network('98.116.0.0/255.252.0.0', 0)
for ip in net:
  ip_list = str(ip).split('.')
  ip_list = list(map(int, ip_list))
  binary_ip_list = []
  for new_ip in ip_list:
    binary_ip_list.append(bin(new_ip)[2:])
  binary_ip = ''.join(binary_ip_list)
  if binary_ip.count('0') % 2 == 0:
    k+=1

print(k)

131072

In [ ]:
from ipaddress import *
k = 0

net = ip_network('142.108.56.118/255.255.255.240', 0)
for ip in net:
  ip_list = list(map(int, str(ip).split('.')))
  binary_ips = [bin(new_ip)[2:] for new_ip in ip_list]
  print(binary_ips, type(binary_ips[0]))
  if binary_ips[0].count('1') + binary_ips[1].count('1') < binary_ips[2].count('1') + binary_ips[3].count('1'):
    k += 1

print(k)

['10001110', '1101100', '111000', '1110000'] <class 'str'>
['10001110', '1101100', '111000', '1110001'] <class 'str'>
['10001110', '1101100', '111000', '1110010'] <class 'str'>
['10001110', '1101100', '111000', '1110011'] <class 'str'>
['10001110', '1101100', '111000', '1110100'] <class 'str'>
['10001110', '1101100', '111000', '1110101'] <class 'str'>
['10001110', '1101100', '111000', '1110110'] <class 'str'>
['10001110', '1101100', '111000', '1110111'] <class 'str'>
['10001110', '1101100', '111000', '1111000'] <class 'str'>
['10001110', '1101100', '111000', '1111001'] <class 'str'>
['10001110', '1101100', '111000', '1111010'] <class 'str'>
['10001110', '1101100', '111000', '1111011'] <class 'str'>
['10001110', '1101100', '111000', '1111100'] <class 'str'>
['10001110', '1101100', '111000', '1111101'] <class 'str'>
['10001110', '1101100', '111000', '1111110'] <class 'str'>
['10001110', '1101100', '111000', '1111111'] <class 'str'>
5

In [ ]:
from ipaddress import *
ans = []

net = ip_network('249.0.33.87/255.252.0.0', 0)
for ip in net

In [ ]:
from ipaddress import *
net = ip_network('217.9.142.131/255.255.192.0', 0)
print(net)

217.9.128.0/18

In [ ]:
from ipaddress import *
for mask in range(33):
  net = ip_network(f'156.32.140.138/{mask}', 0)
  print(net, net.netmask)

In [ ]:
from functools import cache
from ipaddress import *
ans = []

@cache
def count_ips(ip, mask):
  net = ip_network(f'{ip}/{mask}', 0)
  c = 0
  for ip in net:
    bin_ip = f'{ip:b}'
    if bin_ip.count('1') % 2 == 0:
      c += 1
  ans.append(c)


for mask1 in range(33):
  for mask2 in range(33):
    net1 = ip_network(f'154.63.206.129/{mask1}', 0)
    net2 = ip_network(f'154.63.100.75/{mask2}', 0)
    if net1 == net2:
      count_ips(str(net1).split('/')[0], str(net1.netmask))

print(min(ans))

In [ ]:
from ipaddress import *
for i in range(33):
  net = ip_network('224.184.32.160/255.255.255.240', 0)
  print(net)

224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28
224.184.32.160/28

In [ ]:
from ipaddress import *
ans = []
for mask in range(14):
  net = ip_network(f'255.255.255.240/{mask}', 0)
  print(net, net.netmask)
  ans.append(net)

print(len(ans))

для узла с адресом 111.81.208.27 адрес в сети равен 111.81.192.0 Чему равно наименьшее возможное занчение третьего слева байта маски?

In [ ]:
from ipaddress import *
for mask in range(33):
  net = ip_network(f'111.81.208.27/{mask}', 0)
  print(net, net.netmask)

0.0.0.0/0 0.0.0.0
0.0.0.0/1 128.0.0.0
64.0.0.0/2 192.0.0.0
96.0.0.0/3 224.0.0.0
96.0.0.0/4 240.0.0.0
104.0.0.0/5 248.0.0.0
108.0.0.0/6 252.0.0.0
110.0.0.0/7 254.0.0.0
111.0.0.0/8 255.0.0.0
111.0.0.0/9 255.128.0.0
111.64.0.0/10 255.192.0.0
111.64.0.0/11 255.224.0.0
111.80.0.0/12 255.240.0.0
111.80.0.0/13 255.248.0.0
111.80.0.0/14 255.252.0.0
111.80.0.0/15 255.254.0.0
111.81.0.0/16 255.255.0.0
111.81.128.0/17 255.255.128.0
111.81.192.0/18 255.255.192.0
111.81.192.0/19 255.255.224.0
111.81.208.0/20 255.255.240.0
111.81.208.0/21 255.255.248.0
111.81.208.0/22 255.255.252.0
111.81.208.0/23 255.255.254.0
111.81.208.0/24 255.255.255.0
111.81.208.0/25 255.255.255.128
111.81.208.0/26 255.255.255.192
111.81.208.0/27 255.255.255.224
111.81.208.16/28 255.255.255.240
111.81.208.24/29 255.255.255.248
111.81.208.24/30 255.255.255.252
111.81.208.26/31 255.255.255.254
111.81.208.27/32 255.255.255.255

Для узла с ip адресом 148.195.140.28 адрес сети равен 148.195.140.0. Найдите наименьшее количество единиц в двочиной запси маски подсети

In [ ]:
from ipaddress import *
ans = []
for mask in range(33):
  net = ip_network(f'148.195.140.28/{mask}', 0)
  print(net)

0.0.0.0/0
128.0.0.0/1
128.0.0.0/2
128.0.0.0/3
144.0.0.0/4
144.0.0.0/5
148.0.0.0/6
148.0.0.0/7
148.0.0.0/8
148.128.0.0/9
148.192.0.0/10
148.192.0.0/11
148.192.0.0/12
148.192.0.0/13
148.192.0.0/14
148.194.0.0/15
148.195.0.0/16
148.195.128.0/17
148.195.128.0/18
148.195.128.0/19
148.195.128.0/20
148.195.136.0/21
148.195.140.0/22
148.195.140.0/23
148.195.140.0/24
148.195.140.0/25
148.195.140.0/26
148.195.140.0/27
148.195.140.16/28
148.195.140.24/29
148.195.140.28/30
148.195.140.28/31
148.195.140.28/32

In [ ]:
from ipaddress import *

for mask in range(33):
  net = ip_network(f'')

In [ ]:
from ipaddress import ip_network, ip_interface

# Ваши IP-адреса
ip1 = '154.63.100.75'
ip2 = '154.63.206.129'

# Создаем сетевые объекты
net1 = ip_network(ip1, strict=False)
net2 = ip_network(ip2, strict=False)

net = net1.overlaps(net2)
print(net)

False

In [ ]:
from ipaddress import *

net = IPv4Network('0.0.0.0/255.255.224.0', 0)
ip = IPv4Address('206.158.124.67')

if ip in net:
  print('a')

In [ ]:
from ipaddress import *

for a in range(1, 256):
  net = ip_network(f'183.192.{a}.0/255.255.252.0', 0)
  for ip in net:
    bin_ip = [bin(int(t))[2:] for t in str(ip).split('.')]
    if bin_ip[3].count('1') + bin_ip[2].count('1') > 3:

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255

In [ ]:
print('.'.join(f'{x:>08b}' for x in [148, 195, 140, 28]))
print()
print('.'.join(f'{x:>08b}' for x in [148, 195, 140, 0]))

10010100.11000011.10001100.00011100

10010100.11000011.10001100.00000000

Задание 2

In [ ]:
print('x y w z')
for x in range(0, 2):
  for y in range(0, 2):
    for w in range(0, 2):
      for z in range(0, 2):
        if not((not(x) == z) <= (y == (w or x))):
              print(x, y, w, z)

x y w z
0 0 1 1
0 1 0 1
1 0 0 0
1 0 1 0

In [ ]:
print('x y w z')
for x in range(0, 2):
  for y in range(0, 2):
    for w in range(0, 2):
      for z in range(0, 2):
        if (not(x) or z) and not(not(w) or y) and not(y):
              print(x, y, w, z)

x y w z
0 0 1 0
0 0 1 1
1 0 1 1

# 17 задание

In [ ]:
file = [int(x) for x in open('17.txt')]
ans = []
sp = []
count = 0


def check1(a):
  for i in a:
    if len(str(i)) == 5:
      return True
  else:
    return False

for k in file:
  if str(k)[-3:] == '238':
    sp.append(k)

for i in range(len(file)-2):
   a = [file[i], file[i+1], file[i+2]]
   if (a[0] % 3 == 0 and a[1] % 3 == 0 and a[2] % 3 != 0) or (a[1] % 3 == 0 and a[2] % 3 == 0 and a[0] % 3 != 0) or (a[0] % 3 == 0 and a[2] % 3 == 0 and a[1] % 3 != 0):
    if check1(a):
      if sum(a) > max(sp):
        count += 1

print(count)

524

In [ ]:
a = [int(x) for x in open('17-390.txt')]
nums1 = []
sum1 = 0
ans = []


def check1(l):
  c = 0
  for g in l:
    if len(str(g)) == 3:
      continue
    else:
      c += 1
      if c > 1:
        return False
  else:
    return True


def check2(l):
  c = 0
  j = 0
  for g in l:
    if g % 11 == 0:
      c += 1
    elif g % 3 == 0:
      j += 1
  if c > j:
    return True
  else:
    return False

def check3(l):
  for g in l:
    if g > sum1:
      continue
    else:
      return False
  else:
    return True

for t in a:
  if str(t)[-3:] == '271':
    nums1.append(t)

for k in nums1:
  sum1 += k

sum1 = sum1 / len(nums1)
print(sum1)

for i in range(len(a)-2):
  sp = [abs(a[i]), abs(a[i+1]), abs(a[i+2])]
  if check1(sp):
    if check2(sp):
      if check3(sp):
        ans.append(sum(sp))


print(len(ans), min(ans))

18094.529411764706

ValueError: min() arg is an empty sequence

1

In [ ]:
a = [int(x) for x in open('17.txt')]
digits = {}
dup = []
min_nums = []

for d in a:
  digits[d] = sum(map(int, str(d)))

for key, value in digits.values():
  if value in dup:

In [ ]:
a = '45471656'
print(a[-2:])

56

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []

for i in range(len(a)-1):
  if abs(a[i]%3)==0 or abs(a[i+1]%3)==0:
    ans.append(a[i]+a[i+1])

print(len(ans), max(ans))

In [ ]:
a = [int(x) for x in open('17.txt')]
ans =[]
for i in range(len(a)-1):
  if a[i-1]-a[i]%2==0 and (a[i]%31==0 or a[i+1]%31==0):
    ans.append(a[i]+a[i+1])
print(len(ans), max(ans))

In [ ]:
count = m = 0
f = open('17.txt')
l = [int(i) for i in f]
for i in range(len(l) - 1):
    for j in range(i + 1, len(l)):
        if l[i] * l[j] % 26 == 0:
            count += 1
            m = max(m, l[i] + l[j])
print(count, m)

5678937 19984

In [ ]:
count = m = 0
a = [int(x) for x in open('17.txt')]
for i in range(len(a) - 1):
  for l in range(i+1, len(a)):
    if (a[i] + a [l]) % 126 == 0:
      count =+ 1
      m = max(m, a[i]+a[l])

print(count, m)

1 19908

In [ ]:
from math import sqrt
k = []
a = [int(x) for x in open('17.txt')]
for i in range(len(a)-2):
  if (sqrt(a[i]*a[i] + a[i+1]*a[i+1]) == sqrt(a[i+2] * a[i+2])):
    k.append(a[i] + a[i+1] + a[i+2])

try:
  print(len(k), max(k))
except Exception as ValueError:
    print(0, 0)

0 0

В файле содержится последовательность из 10 000 целых положительных чисел. Каждое число не превышает 10 000. Определите и запишите в ответе сначала количество пар элементов последовательности, для которых произведение элементов не кратно 14, затем максимальную из сумм элементов таких пар. В данной задаче под парой подразумевается два различных элемента последовательности. Порядок элементов в паре не важен.

In [ ]:
a = [int(x) for x in open('17.txt')]
k = []
count = 0
for i in range(len(a)-1):
  for j in range(i+1, len(a)):
    if a[i] * a[j] % 14 != 0:
      count += 1
      k.append(a[i] + a[i+1])

print(len(k), max(k))
print(count)

40436496 19873
40436496

Файл содержит последовательность целых чисел, по модулю не превышающих 10 000. Назовём парой два идущих подряд элемента последовательности.

Задание 17

Определите количество пар, для которых выполняются следующие условия:

— запись элементов пары заканчивается одной и той же цифрой;

— ровно один элемент из пары делится без остатка на 7;

— сумма квадратов элементов пары не превышает квадрат наименьшего из элементов последовательности, запись которых заканчивается цифрой 7.

В ответе запишите два числа: сначала количество найденных пар, затем максимальную величину суммы квадратов элементов этих пар.

In [ ]:
a = [int(x) for x in open('17.txt')]
k = []
p = []

for n in range(len(a)):
  if str(a[n])[-1] == '7':
    p.append(n)

for i in range(len(a)-1):
  if str(a[i])[-1] == str(a[i+1])[-1]:
    if abs(a[i]) % 7 == 0 or abs(a[i+1]) % 7 == 0:
      if (abs(a[i]) * abs(a[i]) + abs(a[i+1]) * abs(a[i+1]))<= min(p):
        k.append(abs(a[i]) * abs(a[i]) + abs(a[i+1]) * abs(a[i+1]))

print(len(k), max(k))

FileNotFoundError: ignored

In [ ]:
a = [int(x) for x in open('17.txt')]
k = []
z = []
b = 0
maxx = 0

for x in range(0, len(a)):
  if a[x] % 2 != 0:
    z.append(a[x])

med = sum(z) // len(z)
print(med)

for i in range(len(a)-1):
  if (a[i] % 5 == 0 and a[i+1] < med) or (a[i+1] % 5 == 0 and a[i] < med):
    k.append(a[i] + a[i+1])
    b += 1
    if a[i] + a[i+1] > maxx:
      maxx = a[i] + a[i+1]


print(len(k), max(k))
print(b, maxx)

5044
1061 14847
1061 14847

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []

for i in range(len(a)-1):
  if (a[i] + a[i+1]) % 3 == 0 and (a[i]+a[i+1]) % 6 != 0 and abs(a[i] * a[i+1])%10 == 8:
    ans.append(a[i] + a[i+1])
print(len(ans), max(ans))

1061 14847

Количество троек

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []
for i in range(len(a) - 2):
  if (a[i] * a[i+1] * a[i+2]) % 7 == 0 and abs(a[i] + a[i+1] + a[i+2]) % 10 == 6:
    ans.append(a[i] + a[i+1] + a[i+2])

print(len(ans), max(ans))

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []
ans2 = []
for i in range(len(a) - 2):
  if (a[i] * a[i+1] * a[i+2]) % 7 == 0 and abs(a[i] + a[i+1] + a[i+2]) % 10 == 6:
    ans.append(a[i] + a[i+1] + a[i+2])
    ans2.append(a[i] * a[i+1] * a[i+2])

print(len(ans), max(ans))

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []
for i in range(len(a)):
  #if oct(a[i])[-1] == '7' and oct(a[i])[-2]!='2' пример восьмиричной записи
  if a[i] % 8 == 7 and a[i] // 8 % 8 !=2:  #последняя цифра 7, а предпоследняя не 2. На 8 т.к восьмиричная запись чисел

     ans.append(a[i])

множество элементов последовательности, для которых сумма цифр кратна 3

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []

for i in range(len(a)):
  s = sum(map(int, str(a[i])))
  #s = sum(int(x) for x in str(a[i]))
  if s % 3 == 0:
    ans.append(a[i])


print(len(ans), max(ans))

следующие условия: - запись в троичной системе содержит 3 двойки, запись в семиричной системе не содержит нулей

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []

def f(x):
  k = 0
  while x > 0:
    # провека наличия 3 двоек в троичной системе
    if x % 3 == 2: k +=1
    x = x // 3
  return k == 3 # если True - k=3
def g(x):
  k = 0
  while x > 0:
    # провека наличия нулей в семиричной системе
    if x % 7 == 0: k +=1
    x = x // 7
  return k == 0 # если True - k=7

for i in range(len(a)):
  if f(a[i]) and g(a[i]):
    ans.append(a[i])


print(len(ans), min(ans))

многоэтапный поиск


(оба элемента больше, чем среднее арифметичнское всех чисел в файле)

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []
avg = sum(a) / len(a) #считаем среднее арифметическое
for i in range(len(a) - 1):
  if a[i] > avg and a[i+1] > avg and abs(a[i] + a[i+1]) % 100==31:
    ans.append(a[i] + a[i + 1])

print(len(ans), max(ans))

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []

mx = max([x for x in a if x%2!=0])
mn = min([x for x in a if x%2!=0])

for i in range(len(a) - 1):
  if (a[i] + a[i+1]) % 2 == 0 and a[i] + a[i+1] > mn+mx:
    ans.append(a[i] + a[i+1])

print(len(a), min(ans))

Определите и запишите в ответе сначала количество пар элементов, в которых сумма квадратов элементов пары имеет нечётное значение, меньшее 80, затем среди таких пар определите пару с максимальной суммой элементов и запишите минимальное из чисел в ней

In [ ]:
a = [int(x) for x in open('17.txt')]
ans = []

for i in range(len(a) - 1):
  if (a[i] ** 2 + a[i+1]**2) % 2 !=0 and a[i]**2 + a[i+1]**2 <80:
    ans.append([a[i], a[i+1]])

M = max(ans, key=sum)
print(len(ans), M)

# 16 Задание

In [ ]:
def F(n):
  if n == 1:
    return 5
  elif n == 2:
    return 5
  elif n > 2:
    return 5*F(n-1) - 4*F(n-2)

print(F(13))

5

In [ ]:
import sys
from functools import *

sys.setrecursionlimit(10000)

@cache
def F(x):
  if x == 1:
    return 5
  elif x > 1:
    return 2*x + 1 + F(x-1)

print(F(2024)-F(2022))

8096

In [ ]:
from functools import *
import sys

sys.setrecursionlimit(10000)

@cache
def F(n):
  if n == 1:
    return 3
  elif n > 1:
    return 3*n + 2 * F(n-1)

print(F(2024) - 4*F(2022))

18210

In [ ]:
import sys
sys.setrecursionlimit(1000000)
def F(n):
  if n == 1:
    return 1
  elif n > 1:
    return n + F(n - 1)

c = 0
for r in range(1, 101):
  if (F(2023) // F(r)) % 2 == 0:
    c += 1

print(c)

50

In [ ]:
import sys
sys.setrecursionlimit(100000000)
def F(n):
  if n == 1:
    return 4
  elif n > 1:
    return 3*n + F(n-1)

print(F(1049)-F(1023))

80847

In [ ]:
def F(n):
  if n == 1:
    return 1
  elif n > 1:
    return  F(n-1) * n

print(F(5))

120

In [ ]:
def F(n):
  if n <= 2:
    return 1
  elif n > 2:
    return F(n-1)+3*F(n-2)

print(F(7))

97

In [ ]:
def F(n):
  if n <= 1:
    return 42
  elif n>1 and n % 2 == 0:
     return F(n-2) + F(n-3)
  else:
     return F(n-1) + F(n-3)

print(F(99))

In [ ]:
def F(n):
    if n == 1:
        return 4
    result = 0
    for i in range(1, n+1):
        result += 3*i
    return result

print(F(1049) - F(1023))

80847

In [ ]:
def F(n):
  if n == 1:
    return 1
  elif n > 1:
    return 3 * F(n-1) + 2 + n

print(F(3))

26

In [ ]:
def F(n):
  if n == 1:
    return 1
  elif n == 2:
    return 1
  elif n > 2:
    return F(n-1) * n + F(n-2) * (n-1)

print(F(7))

7285

In [ ]:
def F(n):
  if n >= 2025:
    return n
  elif n < 2025:
    return n + F(n+2)

print(F(2022)-F(2023))

2024

Две рекурсивные функции

In [ ]:
def F(n):
  if n <= 2:
    return 1
  return G(n-2)

def G(n):
  if n <= 1:
    return 1
  return F(n-1) + n + 1

print(F(8))

12

In [ ]:
def F(n):
  if n <= 5:
    return 2 * n
  elif n > 5 and n % 2 == 0:
    return F(n-2) + 2 * F(n//2) - n
  elif n > 5 and n % 2 != 0:
    return F(n-1) + F(n-2) + n

print(F(79)+F(98))

1657159

как перевести в математическую формулу?
если n > 1  -- 1
если n >= 1: 2 + F(n-1) + F(n-2)

In [ ]:
def F(n):
  print('*')
  if n >= 1:
    print('*')
    F(n-1)
    F(n-2)

In [ ]:
'''
def F(n):
  print(3*n)
  if n > 1:
    print(n-2)
    F(n-1)
    F(n-2)
'''

def f(n):
  s = 3*n
  if n > 1:
    s+= n-2
    s += f(n-1)
    s += f(n-2)
  return s

for n in range(30):
  print(n, f(n))

0 0
1 3
2 9
3 22
4 45
5 85
6 152
7 263
8 445
9 742
10 1225
11 2009
12 3280
13 5339
14 8673
15 14070
16 22805
17 36941
18 59816
19 96831
20 156725
21 253638
22 410449
23 664177
24 1074720
25 1738995
26 2813817
27 4552918
28 7366845
29 11919877

In [ ]:
def F(n):
  s = 2*n + 1
  if n > 1:
    s += 3*n - 8
    s += F(n-1)
    s += F(n-4)

  return s

for i in range(1, 50):
  print(i, F(i))

1 3
2 3
3 10
4 24
5 45
6 71
7 109
8 166
9 249
10 363
11 520
12 739
13 1046
14 1472
15 2060
16 2872
17 3996
18 5551
19 7699
20 10664
21 14758
22 20412
23 28219
24 38996
25 53872
26 74407
27 102754
28 141883
29 195893
30 270443
31 373345
32 515381
33 711432
34 982038
35 1355551
36 1871105
37 2582715
38 3564936
39 4920675
40 6791973
41 9374886
42 12940025
43 17860908
44 24653094
45 34028198
46 46968446
47 64829582
48 89482909
49 123511345

In [ ]:
def G(n):
  print(n)
  if n % 3 != 0:
    G(n-1)
    G(n//2)

G(14)

14
13
12
6
7
6
3

обозначим через mod(a, b)...

In [ ]:
def F(n):
  if n == 0:
    return 1
  elif n % 5 == 0:
    return n // 5 + F(n//5)
  else:
    return n % 5 + F(n-1)
n = 0
while F(n) != 2021:
  n+=1
print(n)

7972

In [ ]:
def F(n):
  if n < 2:
    return 1
  elif n % 2 == 0 and n > 1:
    return 2*F(n-1)
  elif n % 2 != 0 and n > 1:
    return 4*n + F(n-2)

print(F(45))

2113

In [ ]:
def F(n):
  if n == 1:
    return G(n)
  elif n > 1:
    k = G(n-1)
    return F(n-1) - 2 * k

def G(n):
  if n > 1:
    return F(n-1) + G(n-1) + n

print(G(36))

TypeError: ignored

In [ ]:
def F(n):
  if n == 1:
    return 1
  elif n == 2:
    return 1
  elif n % 2 == 0 and n > 2:
    return n * F(n-1) + 2
  elif n > 2 and n % 2 != 0:
    return 1 + F(n-2) + F(n-1)

print(F(9))

1164

In [ ]:
def F(n):
  if n < 4:
    return n-1
  elif n >= 4 and n % 3 == 0:
    return n + 2*F(n-1)
  elif n >= 4 and n % 3 != 0:
    return F(n-2) + F(n-3)

print(sum(map(int, str(F(25)))))

13

In [ ]:
ans = []
def F(n):
  ans.append('*')
  if n >=1:
    ans.append('*')
    F(n-1)
    F(n-2)
    ans.append('*')

F(35)
print(len(ans))

96631265

In [ ]:
F = [None] * 5000
for n in range(0, 4):
    F[n] = n - 1
for n in range(4, 5000, 2):
    F[n] = F[n-2] + n/2 - F[n-4]

print(F[4952] + 2*F[4958] + F[4964])

9920.0

In [ ]:
def F(n):
  if n == 1:
    return 1
  if n > 1:
    return F(n-1) - G(n-1)

def G(n):
  if n == 1:
    return 0
  if n > 1:
    return G(n-1) - F(n-1)

print(G(34))

KeyboardInterrupt: ignored

**5 задание**

На вход алгоритма подаётся натуральное число N. Алгоритм строит по нему новое число R следующим образом.

1.  Строится двоичная запись числа N.

2.  К этой записи дописываются справа ещё два разряда по следующему правилу:

а)  складываются все цифры двоичной записи числа N, и остаток от деления суммы на 2 дописывается в конец числа (справа). Например, запись 11100 преобразуется в запись 111001;

б)  над этой записью производятся те же действия  — справа дописывается остаток от деления суммы цифр на 2.

Полученная таким образом запись (в ней на два разряда больше, чем в записи исходного числа N) является двоичной записью результирующего числа R.

Укажите такое наименьшее число N, для которого результат работы алгоритма больше числа 77. В ответе это число запишите в десятичной системе счисления.

In [ ]:
def f(s):
    summa = 0
    for i in range(len(s)):
        summa += int(s[i])
    return summa
for n in range(1, 100):
    s = bin(n)[2:]  # перевод в двоичную систему
    s = str(s)
    s = s + str(f(s) % 2)
    s = s + str(f(s) % 2)
    r = int(s, 2)  # перевод в десятичную систему
    if r > 77:
        print(n)
        break

19

In [ ]:
for n in range(2, 100): # на­чи­на­ем с 2, так как число 1 имеет толь­ко одну цифру
    s = bin(n)[2:]  # пе­ре­вод в дво­ич­ную си­сте­му
    s = str(s)
    s += str(s.count("1") % 2)
    s += str(s.count("1") % 2)
    r = int(s, 2)  # пе­ре­вод в де­ся­тич­ную си­сте­му
    if r > 170:
        print(n)
        break

43

In [ ]:
for i in range(1000, 10000):
  f = str(i)
  s1 = int(f[0]) * int(f[1])
  s2 = int(f[2]) * int(f[3])
  if s1 > s2:
    h = str(s1) + str(s2)
  else:
    h = str(s2) + str(s1)
  if int(h) == 124:
    print(i)

На вход алгоритма подается натуральное число N. Алгоритм строит по нему новое число R следующим образом.

1)  Строится троичная запись числа N.

2)  Если N не кратно 3, то остаток от деления на 3 умножается на 5, переводится в троичную запись и дописывается в конец числа.

3)  Результат R переводится в десятичную систему счисления и выводится на экран.

Укажите минимальное число N, после обработки которого автомат получается число, большее 146.

In [ ]:
for i in range(1, 100):
    n = i
    m = 0
    r = 0
    s = ""
    t = ""
    while n > 0: # пе­ре­вод в тро­ич­ную си­сте­му
        s += str(n % 3)
        n //= 3
    s = s[::-1]
    if i % 3 != 0:
        m = i % 3 * 5
        while m > 0:
            t += str(m % 3)
            m //= 3
        t = t[::-1]
    s += t
    r = int(s,3)
    if r > 146:
        print(i)
        break

8

In [ ]:
n = 0
s = 0
while s <= 35:
  n += 1
  s += 4
print(n)

9

In [ ]:
ans = []
for i in range(0, 1000):
  n = bin(i)[2:]
  if sum(map(int, str(n))) % 2 == 0:
    n1 = '10' + str(n)
    n2 = n1[0:-1] + '1'
  elif sum(map(int, str(n))) % 2 != 0:
    n1 = '1' + str(n)
    n2 = n1[0:-2] + '10'

  r = int(n2, 2)
  if r > 60:
    ans.append(r)


print(min(ans))

62

In [ ]:
a = '1110'
print(int(a, 2))

14

Прикол задание 27))

In [ ]:
f = open('27-A.txt')
s = f.readlines()
count = 0
for i in range(1, len(s)):
    for j in range(i, len(s)):
        if (int(s[i]) * int(s[j])) % 1000000 == 0 and i != j and (int(s[i]) * int(s[j])) % 10000000 != 0:
            count += 1
print(count)

89

Задание 24

In [ ]:
from collections import Counter
l = ''
f = open('24.txt').read()
for i in range(len(f)-2):
    if f[i] == f[i+1]:
        l += f[i+2]
print(Counter(l).most_common()[0][0])

K

In [ ]:
h = open('24.txt').read()
for i in range(len(f)-2):
  if f[i] == 'A' and f[i+1] == 'B':
    while

# 12 задание

In [ ]:
for n in range(3, 10000+1):
  s = '1' + n*'2'
  while '12' in s or '3322' in s or '2222' in s:
    if '12' in s:
      s = s.replace('12', '33', 1)
    elif '2222' in s:
      s = s.replace('2222', '1', 1)
    elif '3322' in s:
      s = s.replace('3322', '21', 1)

  if sum(map(int, s)) == 218:
    print(n)
    break

177

In [ ]:
for n in range(3, 10000):
  s = '1' + n*'2'
  while '12' in s or '5522' in s or '2222' in s:
    if '12' in s:
      s = s.replace('12', '55', 1)
    elif '2222' in s:
      s = s.replace('2222', '1', 1)
    elif '5522' in s:
      s = s.replace('5522', '21', 1)

  if sum(map(int, s)) == 142:
    print(n)
    break

67

In [ ]:
ans = []
for n in range(3, 10000):
  s = '5'+n*'2'
  while '52' in s or '2222' in s or '1122' in s:
    if '52' in s:
      s = s.replace('52', '11')
    elif '2222' in s:
      s = s.replace('2222', '5')
    elif '1122' in s:
      s = s.replace('1122', '25')

    if sum(map(int, s)) == 64:
      ans.append(n)

print(max(ans))

56

In [ ]:
ans = []
for n in range(3, 1000+1):
  s = '1' + '2'*n
  while '12' in s or '322' in s or '222' in s:
    if '12' in s:
      s = s.replace('12', '2', 1)
    if '322' in s:
      s = s.replace('322', '21', 1)
    if '222' in s:
      s = s.replace('222', '3', 1)
  print(s)
  ans.append(len(s))

print(max(ans))

3
32
21
22
3
213
2132
221
3
32
2213
22132
31
32
21
313
3132
321
21
22
3213
32132
211
22
3
2113
21132
221
21133
211332
211321
221
3
2113213
21132132
2211
3
32
22113
221132
31
221133
2211332
2211321
31
32
22113213
221132132
311
32
21
3113
31132
321
31133
311332
311321
321
21
3113213
31132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
2213
22132
31
32
21
313
3132
321
3133
31332
31321
321
21
313213
3132132
3211
21
22
32113
321132
211
22
3
2113
21132
221
3
32
9

In [ ]:
for n in range(4, 10000):
    s = '1' + '8' * n
    while '18' in s or '388' in s or '888' in s:
        if '18' in s:
            s = s.replace('18', '8', 1)
        if '388' in s:
            s = s.replace('388', '81', 1)
        if '888' in s:
            s = s.replace('888', '3', 1)
    if s.count("1") == 3:
        print(n)
        break

In [ ]:
limit = 50
for x in range(limit):
  for y in range(limit):
    for z in range(limit):
      s = '0' + '1'*x + '2'*y + '3'*z + '0'
      while '00' not in s:
        s = s.replace('01', '210', 1)
        s = s.replace('02', '3101', 1)
        s = s.replace('03', '2012', 1)

      if (s.count('1') == 111 and s.count('2') == 101 and s.count('3') == 35):
        print(x+y+z+2)

In [ ]:
s = '8' * 58
while '2222' in s or '8888' in s:
  if '2222' in s:
    s = s.replace('2222', '88', 1)
  else:
    s = s.replace('8888', '22', 1)

print(s)

In [ ]:
for n in range(0, 100):
  s = '>' + '1'*37 + '2'*n + '3'*37
  while '>1' in s or '>2' in s or '>3' in s:
    if '>1' in s:
      s = s.replace('>1', '33>', 1)
    elif '>2' in s:
      s = s.replace('>2', '2>')
    elif '>3' in s:
      s = s.replace('>3', '1>', 1)

  sk = s.count('1') + s.count('2')*2 + s.count('3')*3
  if sk % 17 == 0:
    print(n)

15
32
49
66
83

In [ ]:
for n in range(0, 1000):
  s = '7' + '1'*(n+1) + '2'*(n+2) + '3'*(n+3)
  while '71' in s or '72' in s or '73' in s:
    if '71' in s:
      s = s.replace('71', '227')
    elif '72' in s:
      s = s.replace('72', '37')
    elif '73' in s:
      s = s.replace('73', '17')

    if int(s) == 9*n:
      print(n)

KeyboardInterrupt:

In [ ]:
for x in range(50):
  for y in range(50):
    for z in range(50):
      s = '0' + '1'*x + '2'*y + '3'*z + '0'
      while '01' in s or '02' in s or '03' in s:
        s = s.replace('01', '310', 1)
        s = s.replace('02', '1201', 1)
        s = s.replace('03', '3022', 1)

      if(s.count('1')==59 and s.count('2')==25 and s.count('3')==42 and '0' in s):
        print(x)

In [ ]:
s = '>' + 10*'1' + 20*'2' + 30*'3'
while '>1' in s or '>2' in s or '>3' in s:
  if '>1' in s:
    s = s.replace('>1', '22>', 1)
  if '>2' in s:
    s = s.replace('>2', '2>', 1)
  if '>3' in s:
    s = s.replace('>3', '1>', 1)

print(sum(int(d) for d in s if d != '>'))

110

Исполнитель Редактор получает на вход строку цифр и преобразует её. Редактор может выполнять две команды, в обеих командах v и w обозначают цепочки цифр.

А)  заменить (v, w).

Эта команда заменяет в строке первое слева вхождение цепочки v на цепочку w. Например, выполнение команды

заменить (111, 27)

преобразует строку 05111150 в строку 0527150.

Если в строке нет вхождений цепочки v, то выполнение команды заменить (v, w) не меняет эту строку.

Б)  нашлось (v).

Эта команда проверяет, встречается ли цепочка v в строке исполнителя Редактор. Если она встречается, то команда возвращает логическое значение «истина», в противном случае возвращает значение «ложь». Строка исполнителя при этом не изменяется.



Дана программа для редактора:



НАЧАЛО

   ПОКА НЕ нашлось (00)

      заменить (012, 30)

      ЕСЛИ нашлось (011)

      ТО

          заменить (011, 20)

          заменить (022, 40)

      ИНАЧЕ

          заменить (01, 10)

          заменить (02, 101)

      КОНЕЦ ЕСЛИ

   КОНЕЦ ПОКА

КОНЕЦ



Известно, что исходная строка A содержала ровно два нуля  — на первом и на последнем месте, а также по 10 единиц и двоек. После выполнения данной программы получилась строка B, содержащая 6 единиц и 5 двоек. Какое наибольшее количество четвёрок может быть в строке B?

Спрятать решение
Решение.

In [ ]:
from itertools import product
b=0
for i in product ('12', repeat=20):
    s='0'+ ''.join(i) + '0'
    if s.count('1') == 10 and s.count('2') == 10:
        while not '00' in s:
            s = s.replace('012','30')
            if '011' in s:
                s = s.replace('011','20')
                s = s.replace('022','40')
            else:
                s = s.replace('01','10')
                s = s.replace('02','101')
        if s.count('1') == 6 and s.count('2') == 5:
            b=max(b,s.count('4'))
print(b)

2

In [ ]:
b = 0
for x in range(50):
  for i in range(50):
    s = '0' + '1'*x + 2*'y' + '0'
    while not '00' in s:
      s = s.replace('012', '30', 1)
    if '011' in s:
      s = s.replace('011', '20', 1)
      s = s.replace('022', '40', 1)
    else:
      s = s.replace('01', '10', 1)
      s = s.replace('02', '101', 1)

    if(s.count('1') == 6 and s.count('2') == 5):
      b = max(b, s.count('4'))

print(b)

In [ ]:
ans = []
for n in range(4, 10000+1):
  s = '1' + n*'2'
  while '12' in s or '3322' in s or '2222' in s:
    if '12' in s:
      s = s.replace('12', '33', 1)
    elif '2222' in s:
      s = s.replace('2222', '1', 1)
    elif '3322' in s:
      s = s.replace('3322', '21', 1)

    if sum(map(int, s)) == 218:
      ans.append(n)
      print(n)


print(min(ans))

107
109
111
113
115
117
119
121
123
125
127
129
131
133
135
137
139
141
143
145
147
149
151
153
155
157
159
161
163
165
167
169
171
173
175
177
179

KeyboardInterrupt:

# 5 Задание

In [ ]:
def transfrom(x):
  s = ''
  while x != 0:
    s += str(x % 4)
    x = x // 4

  s = s[::-1]
  return s


for n in range(1, 100):
  s = transfrom(n)
  if n % 4 == 0:
    s = s + s[-2:]
  else:
    s = s + transfrom((n % 4) * 2)

  res = int(s, 4)
  if res < 261:
    print(n)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
21
25
29
33
37
41
45
49
53
57
61

In [ ]:
 x = 111111
 while x != 0:
  s += str(x % 4)
  x = x // 4

s = s[::-1]
print(s)

123020013

In [ ]:
A = set()
for N in range(500, 5000):
  N2 = bin(N)[2:]
  x2 = N2[1:].lstrip('0')
  if x2 == '': x2 = '0'
  x = int(x2, 2)
  A.add(N - x)
print(A)
print(len(A))

{256, 512, 4096, 2048, 1024}
5

In [ ]:
for x in range(0, 100):
  a = str(x % 2)
  b = str(x % 3)
  c = str(x % 5)
  num = int(a+b+c)
  if num == 104:
    print(x)

9
39
69
99

In [ ]:
s = ''
for i in range(1, 100):
  n2 = bin(i)[2:]
  if i % 3 == 0:
    n2 = n2 + str(n2[-3:])
  else:
    k = (i % 3) * 3
    t = bin(k)[2:]
    n2 = n2 + str(t)
  if int(n2, 2) > 75:
    print(i)
    break

11

In [ ]:
for i in range(2, 1000):
  if i % 4 == 0:
    a1 = i / 2
  else:
    a1 = i -1

  if a1 % 5 == 0:
    a2 = a1 / 5
  else:
    a2 = a1 - 1

  if a2 % 3 == 0:
    a3 = a2 / 3
  else:
    a3 = a2 -1

  if a3 == 3:
    print(i)

21
40
46

In [ ]:
a = '123456'
print(a[-1])

6

In [ ]:
for i in range(1, 100):
  n2 = bin(i)[2:]
  n3 = str(n2) + str(n2)[-1]
  if n3.count('1') % 2 == 0:
    n3 = n3 + '0'
  else:
    n3 = n3 + '1'

  if n3.count('1') % 2 == 0:
    n3 = n3 + '0'
  else:
    n3 = n3 + '1'

  r = int(n3, 2)
  if r > 150:
    print(i)

In [ ]:
for i in range(0, 100):
  n = bin(i)[2:]
  if i % 2 == 0:
    n1 = str(n) + '01'
  else:
    n1 = str(n) + '10'

  r = int(n1, 2)
  if r > 73:
    print(i)

In [ ]:
for i in range(0, 100):
  n = bin(i)[2:]
  n1 = str(n) + str(n)[-1]
  if n1.count('1') % 2 == 0:
    n2 = n1 + '0'
  else:
    n2 = n1 + '1'
  if n2.count('1') % 2 == 0:
    n2 = n2 + '0'
  else:
    n2 = n2 + '1'

    r = int(n2, 2)
    if r > 150:
      print(i)

In [ ]:
for i in range(1, 100):
  n2 = bin(i)[2:]
  n3 = str(n2) + str(n2)[-1]
  if n3.count('1') % 2 == 0:
    n3 = n3 + '0'
  else:
    n3 = n3 + '1'

  if n3.count('1') % 2 == 0:
    n4 = n3 + '0'
  else:
    n4 = n3 + '1'

  r = int(n4, 2)
  if r > 150:
    print(i)

# 8 задание

In [ ]:
count = 0
for a in "кран":
  for b in "кран":
    for c in "кран":
      X = a + b + c
      if "а" in X:
          count += 1
print(count)

In [ ]:
from itertools import *
c = 0
k = 0
for p in product('АЕИКЛПР', repeat=6):
  c += 1
  if c % 2 == 0 and p[0] != 'К' and p.count('И') >= 2:
    k += 1

print(k)

10892

In [ ]:
from itertools import *
c = k = 0

for p in product('АВИОРТФ', repeat=6):
  c += 1
  if c % 2 == 0 and p[0] != 'О' and p.count('Р') == 2:
    k += 1

print(k)

8640

In [ ]:
from itertools import product
c = 0
for p in product('АИРМЯ', repeat=4):
  c += 1
  if c == 211:
    print(p)

('И', 'М', 'Р', 'А')

In [ ]:
from itertools import product
count = 0
for p in product('0123', repeat=3):
  if int(p[0]) - 1 >= int(p[1]):
    if int(p[1]) - 1 >= int(p[2]):
      count += 1

print(count)

4

Шифр кодового замка представляет собой последовательность из пяти символов, каждый из которых является цифрой от 1 до 4. Сколько различных вариантов шифра можно задать, если известно, что цифра 1 встречается ровно два раза, а каждая из других допустимых цифр может встречаться в шифре любое количество раз или не встречаться совсем?

In [ ]:
from itertools import product
count = 0
a = '1234'
for p in product(a, repeat=5):
  if p.count('1') == 2:
    count += 1

print(count)

270

In [ ]:
from itertools import *
d = dict(zip((''.join(p) for p in product('АБЗИ', repeat=4)), count(1)))
print(d['ИЗБА'])

229

In [ ]:
import itertools
count = 0
ans_count = 0
for word in itertools.product('БЖОУФЦЮ', repeat=4):
  count += 1
  if ''.join(word)[0:2] == 'ЖО' and count % 2 == 0:
    ans_count += 1

print(ans_count)

25

In [ ]:
a = 'abcdf'
print(a[0:2])

ab

In [ ]:
k = 0
for p in itertools.product('ЧИСТЫЙРАЗУМ', repeat=5):
  if p.count('Й') <= 1:
    k += 1
print(k)

150000

In [ ]:
k= 0
for p in itertools.product('КAСТ', repeat=5):
  if p.count('A') == 1 or p.count('A') == 2:
    k += 1

print(k)

NameError: ignored

In [ ]:
from itertools import *
S = set(''.join(p) for p in permutations("KAПKAН"))
s1 = {word for word in S if 'AA' not in word}
s2 = {word for word in s1 if 'KK' not in word}
print(len(s2))

84

In [ ]:

d = dict(zip((''.join(p) for p in product("АКЛОШ", repeat=5)), count(1)))
d["ШКОЛА"]

2711

In [ ]:
n = 0
for a in "аклош":
  for b in "аклош":
    for c in "аклош":
      for d in "аклош":
        for e in "аклош":
          x = a + b + c + d + e
          n += 1
          if x == 'школа':
            print(n)

2711

In [ ]:
k = 0
for x in range(0o10000, 0o100000):
    s = oct(x)[2:]
    if (s.count('6') == 1
        and all(b + '6' not in s for b in '1357')
        and all('6' + b not in s for b in '1357')):
        k += 1
print(k)

2961

In [ ]:
from itertools import *
a = permutations('ФОКСИК')
b = set(a)
k = 0
for c in b:
  w = ''.join(c)
  if w.count('ОИ') or w.count('ИО') > 0:
    k += 1
print(len(b) - k)

240

In [ ]:
from itertools import *
print(sum(1 for p in product("КАСТ", repeat=3) if "А" in p))

37

In [ ]:
import itertools
for x, y in itertools.pairwise([0, 1, 2, 3, 4, 5, 6, 7, 8, 9]):
  print(x, y)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [ ]:
s = itertools.permutations('ABCDE')
while True:
  print(next(s))

In [ ]:
import itertools
r = []
count = 0
s = itertools.product('КРОТ', repeat=6)
for i in s:
  r.append(i)

for n in r:
  if n.count('О') == 1:
    count += 1
print(count)

1458

In [ ]:
import itertools
s = itertools.product('ЭТАН', repeat = 5)
a = []
count = 0

for i in s:
  a.append(i)

for n in a:
  if (n.count('Э') == 1 and n.count('А') == 0) or (n.count('Э') == 0 and n.count('А') == 1):
    count += 1

print(count)

160

In [ ]:
d = dict(zip((''.join(p) for p in product("АИКР", repeat=5)), count(1)))
d["АКИРИ"]

158

In [ ]:
d = dict(zip((''.join(p) for p in product('КОСФ', repeat=4)), count(1)))
print(d['ФОКС'])

211

In [ ]:
d = dict((zip(''.join(p) for p in product(''))))

In [ ]:
from itertools import *
k=0
for p in product('ЁИКЛНОС',repeat=5):
  k+=1
  p=''.join(p)
  if p.count('Ё')>=2 and p[0]!='О' and p[1]=='К':
    print(p,k)

In [ ]:
k = 0
for p in itertools.product('ДЕВИАЦИЯ', repeat=8):
  if (p[0] == 'Е' or p[0] == 'И' or p[0] == 'А' or p[0] == 'Я') and (p[-1] == 'Д' or p[-1] == 'В' or p[-1] == 'Ц'):
    if p.count('ДЕ') >= 1:
      k+=1
print(k)

0

In [ ]:
import itertools
k = 0
for word in itertools.product('ЛЕТО', repeat=4):
  if word[0] == 'Л' or word[0] == 'Т':
    k += 1

print(k)

128

In [ ]:
import itertools
k = 0
for word in itertools.product('КУМА', repeat = 5):
  if (word[0] == 'К' or word[0] == 'М') and (word[-1] == 'А' or word[-1] == 'У'):
    k += 1

print(k)

256

In [ ]:
import itertools
k = 0
for word in itertools.product('АВСХ', repeat = 5):
  if (word[0] != 'Х' and word[1] != 'Х' and word[2] != 'Х' and word[3] != 'Х') and (word[4] == 'Х' or word[4] != 'Х'):
    k+=1

print(k)

324

In [ ]:
import itertools
k = 0
for word in itertools.product('АБВГЭЮЯ', repeat=5):
  if (word[0] == 'Э' or word[0] == 'Ю' or word[0] == 'Я') and (word[1] != 'Э' and word[1] != 'Ю' and word[1] != 'Я' and word[2] != 'Э' and word[2] != 'Ю' and word[2] != 'Я' and
                                                               word[3] != 'Э' and word[3] != 'Ю' and word[3] != 'Я') and (word[4] == 'Э' or word[4] == 'Ю' or word[4] == 'Я'):
                                                               k+=1
print(k)

576

In [ ]:
import itertools
k = 0

for word in itertools.product('ТИМОФЕЙ', repeat = 5):
  if word.count('Й') <= 1:
    if word[0] != 'Й' and word[-1] != 'Й':
      number = word.index('Й')
      if word[number + 1] != 'И' and word[number - 1] != 'И':
        k += 1


print(k)

ValueError: ignored

In [ ]:
import itertools
k = 0

for word in itertools.product('КАНТ', repeat=6):
  if word.count('К') == 2:
    k += 1


print(k)

1215

In [ ]:
counter = 0
for a in 'АИЕЯ':
  for middle in product('ДЕВИАЦЯ', repeat = 6):
    for b in 'ДВЦ':
      word = a + ''.join(middle) + b
      if 'ДЕ' in word:
        counter +=1

print(counter)

140544

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b or a == 11 or b == 1 or a == 17 or b == 17:
    return 0
  else:
    return k(a+1, b) + k(a+4, b) + k(a*2, b)

print(k(3, 24))

298

# 23 задание

In [ ]:
def K(a, b):
  if a==b:
    return 1
  elif a > b or a == 26 or b == 26:
    return 0
  else:
    return K(a+1, b) + K(a*2+1, b)

print(K(1, 27))

13

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b or a == 18 or b == 18:
    return 0
  else:
    return k(a+1, b) + k(a+4, b) + k(a*2, b)

print(k(4, 11) * k(11, 28))

483

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b:
    return 0
  else:
    return k(a+1, b) + k(a+2, b) + k(a+5, b)

print(k(21, 30))

75

In [ ]:
def K(a, b):
  if a == b:
    return 1
  elif a > b:
    return 0
  else:
    return K(a+1, b) + K(a*2, b) + K(a*3, b)


print(K(3, 89))

3454

Реккурентное решение

In [ ]:
def K(a, b):
  if a == b:
    return 1
  elif a > b:
    return 0
  else:
    return K(a, b-1) + K(a, b-3)

print(K(1, 14))

88

In [ ]:
def K(a, b):
  if a == b:
    return 1
  elif a > b or b == 10 or a == 10:
    return 0
  else:
    return K(a+1, b) + K(a*2, b)

print(K(1, 25) * K(25, 28))

38

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b:
    return 0
  else:
    return k(a*3, b) + k(a+2, b) + k(a+3, b)

print(k(2, 15) * k(15, 21))

46

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b:
    return 0
  else:
    return k(a+3, b) + k(a+2, b) + k(a*2, b)

print(k(10, 18) * k(18, 36))

264

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b or a == 18 or b == 18:
    return 0
  else:
    return k(a+1, b) + k(a*2, b) + k(a*3, b)

print(k(2, 12) * k(12, 36))

105

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b or a == 24 or b == 24:
    return 0
  else:
    return k(a+1, b) + k(a*2, b) + k(a*a, b)

print(k(2, 16) * k(16, 38))

116

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b or a == 18 or b == 18:
    return 0
  else:
    return k(a+1, b) + k(a*2, b) + k(a*3, b)

print(k(1, 12) * k(12, 39))

304

In [ ]:
def k(a, b):
  if a == b:
    return 1
  elif a > b:
    return 0

Динамическое программирование

In [ ]:
K = [0, 1, 1, 1] + [None] * 11
# 0 способов попасть в 0, 1 способ в 1, 1 способ в 2, 1 способ в 3
for n in range(4, 15):
  K[n] = K[n-1] + K[n-3]

print(K[14])

88

прибавить 1, прибавить 2. исходное число 1 - результат 20, траектория содержит 10

In [ ]:
def K(a, b):
  if a > b:
    return 0
  elif a == b:
    return 1
  else:
    return K(a+1, b) + K(a*2, b)

print(K(1, 10) * K(10, 20))

28

In [ ]:

K1 = [0, 1] * [None] * (20+1-2)
# в город 1 - 1 способ, в город 0 - 0 способов
K2 = [0] * 10 + [1] + [None] * (20+1-11)  # 0 и 20 включительно
# из г.10 до 9 включительно 0 способов попасть
###

In [ ]:
K1 = [None] * 21
K1[0] = 0
K1[1] = 1
K10 = [None] * 21
for i in range(0, 10):
    K10[i] = 0
K10[10] = 1

TypeError: ignored

In [ ]:
K1 = [None] * 21
K1[0] = 0
K1[1] = 1
K10 = [None] * 21
for i in range(0, 10):
    K10[i] = 0
K10[10] = 1

In [ ]:
K1 = [0] * 21
K1[1] = 1
for n in range(2, 21):
    K1[n] = K1[n-1] + (0 if n % 2 == 1 else K1[n//2])
K10 = [0] * 21
K10[10] = 1
for n in range(11, 21):
    K10[n] = K10[n-1] + (0 if n % 2 == 1 else K10[n//2])
print(K1[10] * K10[20])

# 18 задание

=$Лист1.B2 + МАКС(A2; B1)

=$Лист1.E5 + МАКС(E4; D4)

https://u.foxford.ngcdn.ru/uploads/inner_file/file/215820/30-11.xlsx

=A23+ЕСЛИ(ОСТАТ(A2;3)=0;A2;0)

# Занятия

In [ ]:
file = open('data1.txt')
data = [float(x.replace(',', '.')) for x in file]
maxsum = 0
s = data[0]
for i in range(1, len(data)):
    if data[i] < data[i-1]:  # descending
        s = s + data[i]
    else:
        s = data[i]
    if s > maxsum:
        maxsum = s
print(maxsum)

7.12

Сколько существует восьмеричных шестизначных чисел, в которых все цифры различны, никакие две чётные или две нечётные цифры не стоят рядом и десятичная запись которых делится на 5?

In [ ]:
import itertools
count = 0

for num in itertools.product('01234567', repeat=6):
  if num[0] != '0':
    if len(set(num)) == 6:
      for i in range(5):
        if int(num[i]) % 2 != int(num[i+1]) % 2:
          if int(num[i], 8) % 5 == 0:
            count += 1


print(count)

12240

In [ ]:
130977 / 297 - ceil((ceil(log2(1810)) * 213) / 8)

# Работа со строками

In [ ]:
print(chr(1236))

Ӕ

In [ ]:
print(ord('J'))

74

In [ ]:
s = 'abracadabra'
print(s.find('ra'))

2

In [ ]:
print(s.rfind('ra'))

In [ ]:
a = ['Допустим', ',', 'меня']
a = map('*'.join, a)
print(list(a))

['Д*о*п*у*с*т*и*м', ',', 'м*е*н*я']

# Как найти все делители числа?

In [ ]:
num = int(input("Введите число: "))
count = 0

for i in range(1, num+1):
    if num % i == 0 and i % 2 == 0:
        count += 1

print("Количество делителей числа", num, "равно", count)

Введите число: 20
Количество делителей числа 20 равно 4

In [ ]:
def is_sorted(A):
  N = len(A)
  for i in range(0, N-1):
    if A[i] > A[i+1]:
      return False
  else:
      return True

print(is_sorted([1, 20, 1, 2, 3, 4, 12, 2, 1]))

False

In [ ]:
def is_sorted(A):
  N = len(A)
  flag = True
  for i in range(0, N-1):
    if A[i] > A[i+1]:
      flag = False
  return flag

сортировка дурака

In [ ]:
def is_sorted(A):
  N = len(A)
  flag = True
  for i in range(0, N-1):
    if A[i] > A[i+1]:       #увидел бардак, сразу сам исправил
      A[i], A[i+1] = A[i+1], A[i]
      flag = False
  return flag

In [ ]:
def fool_sort(A):
    N = len(A)
    i = 0
    while i < N-1:
        if A[i] > A[i+1]:  # увидел бардак - исправь!
            A[i], A[i+1] = A[i+1], A[i]
            i = 0
        else:
            i += 1

A = [6, 3, 2, 1, 4, 5, 8, 7]
print(A)
fool_sort(A)
print(A)

пузырёк

In [ ]:
import sys
def bubble_sort(A):
    N = len(A)
    i = 0
    is_sorted = False
    while not is_sorted:
      is_sorted = True
      for i in range(0, N-1):
        if A[i] > A[i+1]:
            A[i], A[i+1] = A[i+1], A[i]
            is_sorted = False
            print(A, file=sys.stderr)

A = [1, 2, 13, 23, 2112, 4, 5, 63, 45, 123, 1]
bubble_s

a None

[1, 2, 13, 23, 4, 2112, 5, 63, 45, 123, 1]
[1, 2, 13, 23, 4, 5, 2112, 63, 45, 123, 1]
[1, 2, 13, 23, 4, 5, 63, 2112, 45, 123, 1]
[1, 2, 13, 23, 4, 5, 63, 45, 2112, 123, 1]
[1, 2, 13, 23, 4, 5, 63, 45, 123, 2112, 1]
[1, 2, 13, 23, 4, 5, 63, 45, 123, 1, 2112]
[1, 2, 13, 4, 23, 5, 63, 45, 123, 1, 2112]
[1, 2, 13, 4, 5, 23, 63, 45, 123, 1, 2112]
[1, 2, 13, 4, 5, 23, 45, 63, 123, 1, 2112]
[1, 2, 13, 4, 5, 23, 45, 63, 1, 123, 2112]
[1, 2, 4, 13, 5, 23, 45, 63, 1, 123, 2112]
[1, 2, 4, 5, 13, 23, 45, 63, 1, 123, 2112]
[1, 2, 4, 5, 13, 23, 45, 1, 63, 123, 2112]
[1, 2, 4, 5, 13, 23, 1, 45, 63, 123, 2112]
[1, 2, 4, 5, 13, 1, 23, 45, 63, 123, 2112]
[1, 2, 4, 5, 1, 13, 23, 45, 63, 123, 2112]
[1, 2, 4, 1, 5, 13, 23, 45, 63, 123, 2112]
[1, 2, 1, 4, 5, 13, 23, 45, 63, 123, 2112]
[1, 1, 2, 4, 5, 13, 23, 45, 63, 123, 2112]

In [ ]:
import random
A = list(range(10))
random.shuffle(A)
print(A)
A = sorted(A, key = lambda x: x % 10)
print(A)

[7, 2, 1, 4, 5, 8, 0, 9, 3, 6]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
numbers = [int(x) for x in open('zad.txt').readline()]

In [ ]:
N, *numbers = map(int, open("san-1.txt"))
numbers.sort(reverse=True)
print(numbers[:10])
print(numbers[-10:])

# Статград варианты

## 19.12

In [ ]:
ans = []
for n in range(10_000):
  n1 = bin(n)[2:]
  n2 = n1 + bin(n%4)[2:]
  r = int(n2, 2)
  ans.append(r)

nums = [0] * 100000

for i in ans:
  nums[i] = 1


c = m = 0
for j in nums:
  c += 1
  if j == 1:
    m += 1

  if c == 49:
    break


print(m)

19

In [ ]:
from itertools import product
from collections import Counter

count = 0
def check1(num):
  for i in range(len(num)-1):
    if (int(num[i]) % 2 == 0 and int(num[i+1]) % 2 != 0) or (int(num[i]) % 2 != 0 and int(num[i+1]) % 2 == 0):
      return True

def check2(num):
  val = Counter(num)
  for k in num:
    if val[k] < 4:
      continue
    else:
      return False
  else:
    return True

for num1 in product('12345678', repeat=11):
  num = ''.join(num1)
  if check1(num):
    if check2(num):
      count += 1




print(count)

In [ ]:
from itertools import *
a0 = '2468'
a1 = '1357'
k = 0

for x in product(a0, a1, a0, a1, a0, a1, a0, a1, a0):
  s = ''.join(x)
  if all(s.count(x)<=3 for x in s):
    k += 1

print(k)

241920

In [ ]:
def f(a, n):
  return sum(a[i]*n**i for i in range(len(a)))

for x in range(39):
  for y in range(39):
    a = f([5,8,x,7,2,3,y,4,9], 39)
    if a % 38 == 0:
      b = y * 39 + x
      if int(b ** 0.5) ** 2 == b:
        print(b)

0
1444

In [ ]:
def f(a, n):
  a = a[::-1]
  return sum(a[i]*n**i for i in range(len(a)))

for x in range(40):
  for y in range(40):
    a = f([5, 7, x, 6, 9, 2, y, 1, 9], 40)
    if a % 39 == 0:
      b = y * 40 + x
      if int(b ** 0.5) ** 2 == b:
        print(b)

0
1521

In [ ]:
from itertools import *

def c(w, x, y, z, u):
  return ((x <= y) and (z == (not w))) <= (u == (x or z))

for a, b, c, d, e, f, g, h in product([0, 1], repeat=8):
  t = [(0, a, 0, 0, 0),
       (0, b, c, 0, 0),
       (d, 0, 0, 0 ,e),
       (f, 0, g, h, 0)]
  if len(set(t)) == len(t):
    for p in permutations('xywzu'):
      if [c(**dict(zip(p,r))) for r in t] == [0,0,0]:
        print(p)

TypeError: 'int' object is not callable

In [ ]:
from fnmatch import *

for x in range(0, 10**10, 3147):
  if fnmatch(str(x), '1*4302?1'):
     print(x, x // 3147)

100430211 31913
176430261 56063
1374430221 436743
1450430271 460893
1973430201 627083

In [ ]:
file = open('24.txt').readline()

c = m = d=  0
for i in file:
  c += 1
  if i == 'C' or i == 'D':
    d += 1
  if d == 2:
    m = max(m, c)
    c = 0


print(m)